  <div class="left-side">
    <ul>
      <li>
        <a href="about_us.html" {% if page_about_us %}class="current"{% endif %}>
          <span>关于我们</span>
        </a>
      </li>
      <li>
        <a href="zi_zhi_wen_jian.html" {% if page_zi_zhi_wen_jian %}class="current"{% endif %}>
          <span>资质文件</span>
        </a>
      </li>
      <li>
        <a href="tuan_dui_wen_hua.html" {% if page_tuan_dui_wen_hua %}class="current"{% endif %}>
          <span>团队文化</span>
        </a>
      </li> 
      <li>
        <a href="contact_us.html" {% if page_contact_us %}class="current"{% endif %}>
          <span>联系我们</span>
        </a>
      </li>                    
    </ul>
  </div>