{% set body_class = "page-bid-details" %}

{% extends 'layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.BidDetails.init();
  });
</script>
{% endblock %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="home.html">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="zblm.html">招标信息</a>
    <span class="icons-arrow-right"></span>
    <a href="bid_details.html">连江县中学学生宿舍楼...</a>    
  </div>
</div>

{% endblock %}

{% block content %}

<div class="region">
  <div class="row">
    <div class="col-sm-8 region-main">
      <div class="container-bid">
        <div class="container-bid-title">
          <h1>连江县中学学生宿舍楼、教师宿舍楼及运动场工程（施工）工程勘察设计招标答疑纪要</h1>
        </div>

        <div class="container-bid-outline">
          <table class="table">
            <tbody>
              <tr>
                <td>发布时间：</td>
                <td>2016-07-01</td>
                <td>招标阶段：</td>
                <td>{{ stage }}</td>
              </tr>
              <tr>
                <td>所属地区</td>
                <td>安徽</td>
                <td>业务相关：</td>
                <td>政府、采购</td>                
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-bid-details">
          {% block details %}
          {% endblock %}
        </div>

        <div class="container-bid-actions">
          <div class="container-action">
            <a class="container-action-btn btn-download" href="#">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-big-download"></span></div>
                  <div>招标文件下载</div>
                </div>
              </div>
            </a>
          </div>
          <div class="container-action">
            <a class="container-action-btn btn-collect" href="">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-blue-folder"></span></div>
                  <div>收藏项目</div>
                </div>
              </div>
            </a>
          </div>
          <div class="container-action">
            <a class="container-action-btn btn-view-project-other-stage">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-blue-edit"></span></div>
                  <div>查看该项目其他阶段公告</div>
                </div>
              </div>
            </a>
          </div>          
          <div class="container-action">
            <a class="container-action-btn">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-print"></span></div>
                  <div>打印该条</div>
                </div>
              </div>
            </a>
          </div>          
        </div>
      </div>

      <div class="container-guess-what-you-like">
        <div class="guess-what-you-like">
          <div class="guess-what-you-like-header">
            <span class="icons-heart"></span>
            <span>猜您喜欢</span>
          </div>
          <div class="guess-what-you-like-body container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 region-right-side">
      <div class="wrapper">
        
        <!-- Usable -->
        <div class="block block-timeline">
          <div class="block-header">
            业主历史招标纪录：
          </div>
          <div class="block-content">
            <div class="container-timeline">
              <ul class="timeline">
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
              </ul>                                                                
            </div>
          </div>
        </div>

        <div class="block block-region-nav">
          <div class="block-header">
            招标王分站
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>   
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>                                                       
            </div>
          </div>
        </div>         

      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block body_tail %}

<div id="choose_other_stage_dialog" class="dialog">
  <div class="wrapper" style="width:600px;">
    <div class="dialog-header">
      <h1>请选择您要查看的公告阶段</h1>
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
      <div class="wrapper">
        <a href="bid_details.html" class="stage current active">
          <div class="container-icon">
            <span class="icons-bid-yugao"></span>
          </div>
          <div class="description">招标预告</div>
        </a>
        <div class="separator active"></div>        
        <a href="bid_details.html" class="stage active">
          <div class="container-icon">
            <span class="icons-bid-notification"></span>
          </div>
          <div class="description">招标公告</div>
        </a>
        <div class="separator"></div>        
        <a href="bid_details.html" class="stage">
          <div class="container-icon">
            <span class="icons-bid-change"></span>
          </div>
          <div class="description">招标变更</div>
        </a>
        <div class="separator"></div>
        <a href="bid_details.html" class="stage">
          <div class="container-icon">
            <span class="icons-bid-result"></span>
          </div>
          <div class="description">中标结果</div>
        </a>                 
      </div>
    </div>
  </div>
</div>

{% endblock %}