{% extends 'layout.html' %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="#">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="#">招标信息</a>
    <span class="icons-arrow-right"></span>
    <a href="#">连江县中学学生宿舍楼...</a>    
  </div>
</div>

{% endblock %}

{% block content %}

<div class="region">
  <div class="row">
    <div class="col-sm-8 region-main">
      <div class="container-bid">
        <div class="container-bid-title">
          <h1>连江县中学学生宿舍楼、教师宿舍楼及运动场工程（施工）工程勘察设计招标答疑纪要</h1>
        </div>

        <div class="container-bid-outline">
          <table class="table">
            <tbody>
              <tr>
                <td>发布时间：</td>
                <td>2016-07-01</td>
                <td>招标阶段：</td>
                <td>招标公告</td>
              </tr>
              <tr>
                <td>所属地区</td>
                <td>安徽</td>
                <td>业务相关：</td>
                <td><a href="#">建筑</a>、<a href="#">学校</a></td>                
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-bid-details">
          <p>
      一、（略）
      二、资金来源
      自筹资金，资金已到位。
      三、谈判资格
      谈判供应商是指向采购人提供货物、（略）。合格的（略），同时符（略）。
      （一）一般资格条件
      1、具（略）
      2、具有良好的商业信誉和健全的财务会计制度；
      3、具有履行合同所必需的设备和专业技术能力；
      4、有依法缴纳税收和社会保障资金的良好记录；
      5、参加政府采购活动前三年内，在经营活动中没有重大违法记录；
      6、法律、行政法规规定的其他条件。
      （二）特定资格条件
      1、投标供应商必须具备《中华（略））资质证书
      （三）本项目不接受联合体谈判。
      四、（略）
      （一）为确认投标人身份合法有效，由法定代表人参与投标的，需持本人身份证原件（复印件加盖投标单位鲜章）和法定代表人身份证明书（格式）原件，报名时与响应文件同时递交。
      （二）为确认（略），由法定（略），需持法（略）（加盖投标单位鲜章）和法定（略）（格式）原件，法定代（略）（格式）原件和（略）（复印件（略）），报名时（略）。
      注：以上要求的资料须在现场报名时单独提交一份进行验核和收取，未按以上要求执行的投标人将视为以他人名义投标，其响应文件拒绝接收。
      （三）凡有意参加谈判的供应商，请于公告发布之日起至提交首次响应文件截止时间之前，在“**市**区公共*****”和“*****”上下载本项目竞争性谈判文件以及（略）。
      （四）按《*（略）（渝财采（略））文的规定，报名方（略），不需提前报名。
      （五）竞争性谈判文件售价为：300元/分包（售后不退，供应商为微型企业的，免费提供竞争性谈判文件）。
      （六）供应商须满足以下三种要件，其响应文件才被接受：
      1、按时递交了响应文件；
      2、按时报名签到；
      3、缴纳了竞争性谈判文件购买费。
      （七）谈判地点：（略）（**市**区希尔安大道225号文化艺术中心五楼）
      （八）提交响应文件开始时间：（略）
      （九）提交响应文件截止时间：（略）
      （十）谈判开始时间：（略）
      五、保证金
      （一）谈判保证金金额
      本次谈判保证金为人民币 **** 元。
      （二）谈判保证金账户
      谈判保证金账户见本项目招标公告下方红色标注“本项目投标保证金指定收取账户信息”。
      （三）缴纳谈判保证金方式
      投标人将谈判保证金从投标人开户银行账户按规定金额一次性支付至投标保证金指定账户内，并于****年7月28日10:00时前到账，投标人应自行考虑投标保证金的汇入时间风险，否则出现的一切后果由投标人自行负责。
      注：投标保证金未按谈判文件要求缴纳、未在规定时间内到账，视为未缴纳该项目的投标保证金，投标无效。
      特别提醒：
      1、为（略），请各投标人把银行进帐单原件带至开标现场备查。
      2、为保证投标保证金的及时退还，投标供应商必须自行进入*****站（（略）
      3、如（略），应持银（略）（复印件加盖鲜章）带至开标现场审验。
      （四）、保证金退还方式
      1、未成为成交供应商候选人的投标保证金，在开标完成后，（略）在5个工作日内按来款渠道直接退还。
      2、成交供应商候选人第二名和第三名的投标保证金，在中标或成交结果公示无质疑后，（略）在5个工作日内按来款渠道直接退还。
      3、成交供应商的投标保证金，在成交供应商与采购人签订合同后，由（略）在5个工作日内按资金来款渠道直接退还。
      4、流标项目的保证金由（略）5个工作日内按资金来款渠道直接退还。
      5、因故未到交易中心办理银行基本账户注册而耽误了投标保证金退还的，由供应商自行负责。
      咨询电话：（略）
      六、（略）
      1、单（略），母公司（略），都不得（略），否则均为无效谈判。
      2、单个分包为单一货物的，一个制造商对同一品牌同一规格型号的货物，仅能委托一个代理商参加该分包的谈判，否则为无效谈判。
      3、同一分包的货物，制造商参与谈判的，不得再委托代理商参与谈判，否则为无效谈判。
      4、本项目在响应文件提交截止时间前发布的竞争性谈判文件及补遗文件（如果有）一律在**市**区公共*****（（略）
      5、质疑：投标人对采购文件如有异议，应在（略）8:00时前（**时间）以书面形式向采购人、采购机构提出质疑。供应商对采购文件中供应商特定资格条件、技术质量和商务要求、评审标准及评审细则有异议的，应主要向采购人提出质疑，其他问题可向采购代理机构提出质疑。未在规定时间内提出，视同认可采购文件所有要求，逾期提出异议的，将不再受理。
      6、质疑所需附件请在**市**区公共*****（（略）
      7、答疑：（略）8:00时前（**时间），如遇特殊情况澄清的时间顺延。
      8、超过响应文件截止时间递交的响应文件、不按本谈判文件规定封装和密封的投标，交易中心拒绝接受。
      9、（略）：无论谈判结果如何，供应商参与本项目谈判的所有费用均应由供应商自行承担。
      七、（略）
      （一）采购人：（略）
      联系人：（略）
      电 话：（略）
      （二）采购代理机构：（略）
      联系人：（略）
      电 话：（略）
      地 址：**市**区希尔安大道225号（文化艺术中心五楼）
          </p>
        </div>

        <div class="container-bid-actions">
          <div class="container-action">
            <a class="container-action-btn" href="">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-big-download"></span></div>
                  <div>招标文件下载</div>
                </div>
              </div>
            </a>
          </div>
          <div class="container-action">
            <a class="container-action-btn" href="">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-blue-folder"></span></div>
                  <div>收藏项目</div>
                </div>
              </div>
            </a>
          </div>
          <div class="container-action">
            <a class="container-action-btn" href="">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-blue-edit"></span></div>
                  <div>查看该项目其他阶段公告</div>
                </div>
              </div>
            </a>
          </div>          
          <div class="container-action">
            <a class="container-action-btn" href="">
              <div class="table-row">
                <div class="table-col vertical-middle">
                  <div><span class="icons-print"></span></div>
                  <div>打印该条</div>
                </div>
              </div>
            </a>
          </div>          
        </div>
      </div>

      <div class="container-guess-what-you-like">
        <div class="guess-what-you-like">
          <div class="guess-what-you-like-header">
            <span class="icons-heart"></span>
            <span>猜您喜欢</span>
          </div>
          <div class="guess-what-you-like-body container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 region-right-side">
      <div class="wrapper">
        <div class="block block-login-register">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-login">登录</a>
            </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-register">注册</a>
            </div>
          </div>
        </div>

        <div class="block block-services">
          <div class="block-header">
            注册后您可享受以下服务
          </div>
          <div class="block block-content container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div>
                  <span class="icons-searchview">
                  </span>
                </div>
                <div>免费查看所有招标信息</div>
              </div>
              <div class="col-sm-6">
                <div>
                  <span class="icons-hand">
                  </span>
                </div>
                <div>提前把握项目</div>
              </div>           
              <div class="col-sm-6">
                <div>
                  <span class="icons-edit">
                  </span>
                </div>
                <div>订阅属于自己的招标信息</div>
              </div>    
              <div class="col-sm-6">
                <div>
                  <span class="icons-gift">
                  </span>
                </div>
                <div>信息免费发送邮箱</div>
              </div>  
              <div class="col-sm-6">
                <div>
                  <span class="icons-send">
                  </span>
                </div>
                <div>发布招标信息</div>
              </div>
              <div class="col-sm-6">
                <div>
                  <span class="icons-cert">
                  </span>
                </div>
                <div>招标王认证</div>
              </div>                                           
            </div>
          </div> 
        </div>

        <div class="block block-register-info">
          <div class="block-header">
            5秒注册，百万招标信息唾手可得
          </div>
          <div class="block-content">
            <div class="wrapper">
              <form>
                <div class="control-group">
                  <div class="container-title">你的名字</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>
                <div class="control-group">
                  <div class="container-title">你的公司</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>

                <div class="control-group control-group-phone">
                  <div class="container-title">你的手机号码</div>
                  <div>
                    <input type="text" />
                    <button class="btn btn-primary btn-send-verify-code">发送验证码</button>
                  </div>
                </div> 
                <div class="control-group">
                  <div class="container-title">短信验证码</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>                           

                <button class="btn btn-primary btn-register">免费注册</button>
              </form>
            </div>
          </div>
        </div>

        <div class="block block-related-keywords">
          <div class="block-header">
            搜索了<span class="keywords">电梯</span>的人还搜索了以下关键字：
          </div>
          <div class="block-content">
            <div class="row">
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div> 
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>                                                             
            </div>
          </div>
        </div>

        <div class="block block-region-nav">
          <div class="block-header">
            区域导航
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>   
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>                                                       
            </div>
          </div>
        </div> 

        <!-- Usable -->
        <div class="block block-timeline">
          <div class="block-header">
            业主历史招标纪录：
          </div>
          <div class="block-content">
            <div class="container-timeline">
              <ul class="timeline">
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li> 
                <li class="event" data-date="05-09">
                  <div>南海九江盈信城市广场项目广场</div>
                </li>
              </ul>                                                                
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}