{% set bid_details_link = 'bid_change_sample.html' %}
{% set bid_details_title = '合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库招标变更' %}
{% set stage = '招标变更' %}
{% set change_page = 'true' %}

{% extends 'bid_sample_layout.html' %}

{% block details %}
<p>
一、原公告主要信息
</p>
<p>
原项目名称：合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库
</p>
<p>
原项目编号：2016FJCZ0059
</p>
<p>
原公告日期：2016年01月29日
</p>
<p>
二、公告内容（更正事项、内容及日期等）
</p>
<p>
合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库项目变更及答疑公告
</p>
<p>
“合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库”项目（项目编号：2016FJCZ0059）变更及答疑公告如下：
</p>
<p>
一、变更公告
</p>
<p>
1、原招标文件第三章 采购需求六、人员配备中
</p>
<p>
项目组设计人员资格及数量不少于下表：  
</p>
<table class="table-bordered" style="width: 600px;">
  <thead>
    <tr>
      <th>专业</th>
      <th>数量</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>规划</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>建筑</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>交通</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>风景园林</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>合计</td>
      <td>至少5人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td colspan="3">
        注：1、项目组设计人员须为本单位人员，投标文件中须附投标人为其缴纳的近3个月内社保证明材料。<br />
        2 、项目组设计人员须具备中级及以上职称（提供相关证书复印件或影印件）。
      </td>
    </tr>                
  </tbody>
</table>

<p style="margin-top:10px;">
现变更为：
</p>
<p>
项目组设计人员资格及数量不少于下表：
</p>
<table class="table-bordered" style="width: 600px;">
  <thead>
    <tr>
      <th>专业</th>
      <th>数量</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>规划</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>建筑</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>道路或交通工程相关专业</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>风景园林相关专业</td>
      <td>至少1人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td>合计</td>
      <td>至少5人</td>
      <td>专业负责人</td>
    </tr>
    <tr>
      <td colspan="3">
        注：1、项目组设计人员须为本单位人员，投标文件中须附投标人为其缴纳的近3个月内社保证明材料。<br />
        2 、项目组设计人员须具备中级及以上职称（提供相关证书复印件或影印件）。
      </td>
    </tr>                
  </tbody>
</table>

<p style="margin-top:10px;">
2、原招标文件第四章 评标办法 8.4 详细评审指标中
</p>
<table class="table-bordered" style="width:600px">
  <tbody>
    <tr>
      <td>
        项目团队（不含项目负责人）
      </td>
      <td>
        拟派至本项目工作组的全部人员中，注册资格人员，每个专业得1分，本项满分5分（须包含规划、建筑、交通、风景园林等相关专业，专业不齐全，不得分；同一人员具有多个专业注册证书，不累计计分）。<br />
        注：须提供证书复印件或影印件及投标人为其人员缴纳的近三个月的社保证明。
      </td>
      <td style="width:60px;">0-5分</td>
    </tr>
  </tbody>
</table>
<p style="margin-top:10px;">
现变更为：
</p>
<table class="table-bordered" style="width:600px">
  <tbody>
    <tr>
      <td>
        项目团队（不含项目负责人）
      </td>
      <td>
        拟派至本项目工作组的人员中：<br />
        1、注册城市规划师、一级注册建筑师，每提供1人，得1分，最高3分；<br />
        2、道路或交通工程相关专业、风景园林相关专业，每提供1人具有高级工程师及以上职称的，每个专业得1分，最高2分。<br /><br />
        注： 1 、每个专业（规划、建筑、道路或交通工程相关专业、风景园林相关专业）须配备人员不少于1人，专业不齐全，本项为0分；同一人员具有多个专业注册证书或职称证书，不累计计分；<br />
        2、须提供相关证书复印件或影印件及投标人为其缴纳的3个月内（任意一个月即可）社保证明材料。
      </td>
      <td style="width:60px;">0-5分</td>
    </tr>
  </tbody>
</table>

<p style="margin-top:10px;">
二、答疑公告
</p>
<p>
1、是否可以提供包括建筑曾说、标高的现状图？
</p>
<p>
答： 投标人自行实地勘测。</p>
<p>
2、312国道防护绿地宽度是多少</p>
<p>
答： 本项目规划防护绿地范围从312国道至最近建筑物外墙。</p>
<p>
3、投标阶段是否需要提供动画演示？</p>
<p>
答：投标人自行考虑， 不做强制要求。</p>
<p>
4、我单位以总公司名义投标，请问方案汇报人员拟派分公司代表，其社保也由分公司缴纳，可以吗？</p>
<p>
答：可以。</p>
<p style="margin-top:30px;">
注：此公告视同招标文件的组成部分，与招标文件具有同等法律效力。请投标人及时下载。
</p>
<p>
联系方法：</p>
<p>
单位：安徽公共资源交易集团有限公司</p>
<p>
地址：合肥市滨湖新区南京路2588号（徽州大道与南京路交口）</p>
<p>
项目联系人：刘 工</p>
<p>
电话:0551- 66223742,66223702</p>
<p>
传真:0551-66223704</p>
<p>
安徽公共资源交易集团有限公司 网址: www.hfggzy.com</p>
<p>
安徽公共资源交易集团有限公司</p>
<p>
2016年2月17日
</p>
{% endblock %}

{% block guess_what_you_like %}
<div class="container-guess-what-you-like">
  <div class="guess-what-you-like">
    <div class="guess-what-you-like-header">
      <span class="icons-heart"></span>
      <span>猜您喜欢</span>
    </div>
    <div class="guess-what-you-like-body container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">汤卞山庄（三期）安置小区设计</a></div>
                <div class="col col-date">2016-08-18</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">宣城市人民医院扩建一期急诊外科大楼10KV配电工程设计</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">桐城市鲁谼山水库工程勘测设计</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">安徽中医药高等专科学校后勤综合楼方案设计</a></div>
                <div class="col col-date">2016-08-16</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">2016年全国新增千亿斤粮食生产能力规划田间工程设计</a></div>
                <div class="col col-date">2016-08-18</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">滁州市国防动员训练基地二期室外场地设计项目（二次）招标公告</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">宣城市消防训练基地方案设计项目招标公告</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">天长市域农村生活污水处理专项规划项目设计招标公告</a></div>
                <div class="col col-date">2016-08-16</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>              
      </div>
    </div>
  </div>
</div>
{% endblock %}