{% set bid_details_link = 'bid_yu_gao_sample.html' %}
{% set bid_details_title = '合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库招标预告' %}
{% set stage = '招标预告' %}
{% set yu_gao_page = 'true' %}

{% extends 'bid_sample_layout.html' %}

{% block details %}
<p>
合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库项目标前需求公示
</p>
<p>
各相关供应商：
</p>
<p style="text-indent:2em;">
安徽合肥公共资源交易中心（合肥市政府采购中心）受托，将对“合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库”进行公开招标。
</p>
<p style="text-indent:2em;">
为维护政府采购当事人合法权益，确保政府采购活动公开、公平、公正，我中心现将项目采购需求予以标前公示（详见附件—项目需求书），以广泛征求潜在投标人意见。  
</p>
<p style="text-indent:2em;">
如对公示内容有任何意见或建议，请您于2016年01月22日17:00前，将反馈意见（格式详见附件—反馈意见书）和相关证明文件（包括技术标准、产品彩页、检测报告等）加盖公章后通过会员库系统上传，我中心将对意见或建议进行汇总，并结合项目实际，进一步修订完善项目需求。
</p>
<p>
安徽合肥公共资源交易中心感谢您的参与、支持和配合。
</p>
<p>
联系电话：0551-66223831
</p>
<p>
安徽合肥公共资源交易中心
</p>
<p>
2016年1月20日
</p>
<p>
附件：<br />
2016FJCZ0059项目需求书.doc<br />
2016FJCZ0059反馈意见书.doc
</p>
{% endblock %}

{% block guess_what_you_like %}
<div class="container-guess-what-you-like">
  <div class="guess-what-you-like">
    <div class="guess-what-you-like-header">
      <span class="icons-heart"></span>
      <span>猜您喜欢</span>
    </div>
    <div class="guess-what-you-like-body container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">学生第二食堂周边道路及园林绿化设计需求公告</a></div>
                <div class="col col-date">2016-08-05</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">安徽商贸职业技术学院二校区设计需求公告</a></div>
                <div class="col col-date">2016-07-05</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">新站区新蚌埠路、文忠路精品道路改造工程设计项目标前需求公示</a></div>
                <div class="col col-date">2016-06-17</div>
              </div>                    
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">合肥市第三中学综合艺术楼及校园整体环境提升工程项目设计项目标前需求公示</a></div>
                <div class="col col-date">2016-05-20</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">合肥市中心血站老楼内装饰及消防改造项目设计项目标前需求公示</a></div>
                <div class="col col-date">2016-07-15</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">池州九华山机场改扩建工程设计项目拟采用单一来源采购征求意见公示</a></div>
                <div class="col col-date">2016-06-30</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">新站区北岗花园二期总体规划及施工图设计项目标前需求公示</a></div>
                <div class="col col-date">2016-05-26</div>
              </div>
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">巢湖市博物馆项目布展工程设计施工一体化项目标前公示</a></div>
                <div class="col col-date">2016-04-01</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>              
      </div>
    </div>
  </div>
</div>
{% endblock %}