{% set bid_details_link = 'bid_notification_sample.html' %}
{% set bid_details_title = '合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库招标公告' %}
{% set stage = '招标公告' %}
{% set gong_gao_page = 'true' %}

{% extends 'bid_sample_layout.html' %}

{% block details %}
<p>
合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库
</p>
<p>
合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库项目公开招标公告
</p>
<p>
安徽诚信项目管理有限公司受合肥经济技术开发区建设发展局的委托，现对“合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库项目”进行公开招标，欢迎具备条件的国内投标人参加投标。
</p>
<p>
一、采购项目名称及内容
</p>
<p>
1、项目编号：2016FJCZ0059
</p>
<p>
2、项目名称：合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库
</p>
<p>
3、项目地点：合肥
</p>
<p>
4、项目单位：合肥经济技术开发区建设发展局
</p>
<p>
5、项目概况：合肥经开区民营园一园改造规划设计及2016年合肥经开区园区升级改造设计库招标，详见招标文件。
</p>
<p>
6、资金来源：财政支付
</p>
<p>
7、项目概算：370万元
</p>
<p>
8、项目类别：政府采购服务·工程咨询管理服务·工程设计
</p>
<p>
9、标段（包别）划分：本项目共一个标段
</p>
<p>
二、投标人资格
</p>
<p>
1、符合《政府采购法》第二十二条规定；
</p>
<p>
2、同时具有建筑行业（建筑工程专业）甲级工程设计资质（或工程设计综合甲级）和城乡规划编制乙级及以上资质；
</p>
<p>
3、近五年内具有产业园区（新建或改造）规划设计业绩；
</p>
<p>
4、本项目不接受联合体投标。
</p>
<p>
5、符合下列情形之一：
</p>
<p>
1）开标日前两年内未被合肥市公共资源交易监督管理局记不良行为记录或记不良行为记录累计未满10分的；
</p>
<p>
2）最近一次被合肥市公共资源交易监督管理局记不良行为记录累计记分达10分（含10分）到15分且公布日距开标日超过6个月；
</p>
<p>
3）最近一次被合肥市公共资源交易监督管理局记不良行为记录累计记分达15分（含15分）到20分且公布日距开标日超过12个月；
</p>
<p>
4）最近一次被合肥市公共资源交易监督管理局记不良行为记录累计记分达20分（含20分）及以上且公布日距开标日超过24个月。
</p>
<p>
三、报名及招标文件发售办法
</p>
<p>
1、报名时间：2016年01月29日上午09:00至2016年02月14日下午17:00
</p>
<p>
2、招标文件价格：每套人民币400.00元整，招标文件售后不退
</p>
<p>
3、报名方式：
</p>
<p>
（1）本项目只接受安徽合肥公共资源电子交易平台中已入库企业报名，未入库的投标人请及时办理入库手续（投标人在办理企业入库手续时，安徽合肥公共资源交易中心不收取任何费用。入库办理请参见中心网站（www.hfggzy.com） 右上角“企业专区”栏目中“安徽合肥公共资源交易中心企业注册流程”，联系电话：0551-66223841，66223842），因未及时办理入库手续导致无法报名的，责任自负；
</p>
<p>
（2）企业报名程序请参见中心网站（www.hfggzy.com）右上角“企业专区”栏目中“企业网上报名操作手册”;
<p>
（3）企业报名成功后直接采用网上支付系统支付标书费用，直接下载招标文件及其它资料（含答疑或相关说明）。如无网上银行帐号，请及时前往银行办理（本系统目前支持以下银行网上支付服务：中国农业银行、中国工商银行、中国建设银行、交通银行、招商银行、光大银行、浦发银行、徽商银行）。
</p>
<p>
四、开标时间及地点
</p>
<p>
1、开标时间：2016年02月26日10:00
</p>
<p>
2、开标地点：合肥市滨湖新区南京路2588号要素交易市场A区（徽州大道与南京路交口）3楼8号开标室
</p>
<p>
五、投标截止时间
</p>
<p>
2016年02月26日10:00
</p>
<p>
六：联系方法
</p>
<p>
（一）项目单位：合肥经济技术开发区建设发展局
</p>
<p>
地址：合肥经济技术开发区
</p>
<p>
联系人：李强
</p>
<p>
电话：0551-63679088
</p>
<p>
（二）招标代理机构：安徽诚信项目管理有限公司
</p>
<p>
地址：合肥市滨湖新区南京路2588号（徽州大道与南京路交口）六楼
</p>
<p>
联系人：刘 工
</p>
<p>
电话：0551-66223742,0551-66223702
</p>
<p>
传真：0551-66223704
</p>
<p>
七、其它事项说明
</p>
<p>
1、网上报名的投标人可在报名后直接下载招标文件。
</p>
<p>
2、投标人网上报名后，必须在报名截止时间前上传汇款凭证网银在线支付，否则逾期系统自动关闭，报名不成功。
</p>
<p>
3、投标人如需开具标书工本费发票，请在报名成功后打印回执码页面并携带至安徽合肥公共资源交易中心二楼服务大厅财务窗口办理。
</p>
<p>
4、报名中有任何疑问或问题，请在工作时间（周一至周五，上午9:00-12:00，下午1:00-5:00，节假日休息）与项目联系人联系。
</p>
<p>
5、投标人应合理安排报名及缴费时间，特别是网络速度慢的地区防止在报名结束前网络拥堵无法操作。如果因计算机及网络故障造成无法报名及缴费，责任自负。
</p>
<p>
八、投标(谈判)保证金缴纳账户
</p>
<p>
标段简称：徽商银行
</p>
<p>
户名<br />
安徽合肥公共资源交易中心
</p>
<p>
账号<br />
1023701021001095993028798
</p>
<p>
开户银行<br />
徽商银行股份有限公司合肥蜀山支行
</p>

{% endblock %}

{% block guess_what_you_like %}
<div class="container-guess-what-you-like">
  <div class="guess-what-you-like">
    <div class="guess-what-you-like-header">
      <span class="icons-heart"></span>
      <span>猜您喜欢</span>
    </div>
    <div class="guess-what-you-like-body container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">汤卞山庄（三期）安置小区设计</a></div>
                <div class="col col-date">2016-08-18</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">宣城市人民医院扩建一期急诊外科大楼10KV配电工程设计</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">桐城市鲁谼山水库工程勘测设计</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">安徽中医药高等专科学校后勤综合楼方案设计</a></div>
                <div class="col col-date">2016-08-16</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">2016年全国新增千亿斤粮食生产能力规划田间工程设计</a></div>
                <div class="col col-date">2016-08-18</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">滁州市国防动员训练基地二期室外场地设计项目（二次）招标公告</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>                    
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">宣城市消防训练基地方案设计项目招标公告</a></div>
                <div class="col col-date">2016-08-17</div>
              </div>
            </li>   
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="javascript:void(0)" class="ellipse">天长市域农村生活污水处理专项规划项目设计招标公告</a></div>
                <div class="col col-date">2016-08-16</div>
              </div>                    
            </li>                                                   
          </ul>
        </div>              
      </div>
    </div>
  </div>
</div>
{% endblock %}