{% set body_class = "page-collection" %}
{% set my_collection = 'true' %}

{% extends 'user_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Collection.init();
  });
</script>
{% endblock %}

{% block content %}

<div class="container-collection">

  <div class="collection-header">
    <div class="row">
      <div class="col-sm-10 container-nav-list">
        <ul class="nav-list">
          <li>
            <a href="bid_collection.html">招标信息</a>
          </li>
          <li>
            <a href="cg_collection.html" class="selected">采购信息</a>
          </li> 
          <li>
            <a href="project_collection.html">项目信息</a>
          </li>       
        </ul>
      </div>
      <div class="col-sm-2 container-actions">
        <button class="btn-manage visible">管理收藏</button>
        <button class="btn-save">删除选中收藏</button>
      </div>
    </div>
  </div>

  <div class="container-results">
    <form>
      <table class="table style-primary table-sortable">
        <thead>
          <tr>
            <th class="c-type">
              <input type="checkbox" class="item-checkbox" />公告类型</th>
            <th class="c-title">标题</th>
            <th class="c-place">地区</th>            
            <th class="c-date">时间</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="c-type" data-sort-val="招标公告">
              <input type="checkbox" class="item-checkbox" />招标公告
            </td>
            <td class="c-title" data-sort-val="广西科文招标有限公司电梯设备采购及安装">
              <a href="bid_details.html">广西科文招标有限公司<span class="highlight">电梯</span>设备采购及安装
              <div class="container-label">
                <span class="label">标书</span>
              </div>
              </a>
            </td>
            <td class="c-place" data-sort-val="北京">北京</td>
            <td class="c-date" data-sort-val="2016-07-30 10:10:10">07-30</td>
          </tr>  
          <tr>
            <td class="c-type" data-sort-val="招标公告">
              <input type="checkbox" class="item-checkbox" />招标公告
            </td>
            <td class="c-title" data-sort-val="广西科文招标有限公司电梯设备采购及安装">
              <a href="bid_details.html">广西科文招标有限公司<span class="highlight">电梯</span>设备采购及安装
              <div class="container-label">
                <span class="label">标书</span>
              </div>
              </a>
            </td>
            <td class="c-place" data-sort-val="山东">山东</td>
            <td class="c-date" data-sort-val="2016-07-29 10:10:10">07-29</td>
          </tr> 
          <tr>
            <td class="c-type" data-sort-val="招标预告">
              <input type="checkbox" class="item-checkbox" />招标预告
            </td>
            <td class="c-title" data-sort-val="广西华强招标有限公司电梯设备采购及安装">
              <a href="bid_details.html">广西华强招标有限公司<span class="highlight">电梯</span>设备采购及安装
              <div class="container-label">
                <span class="label">标书</span>
              </div>
              </a>
            </td>
            <td class="c-place">广西</td>
            <td class="c-date" data-sort-val="2015-07-30 10:10:10">2015-07-30</td>
          </tr>                      

        </tbody>
      </table>
    </form>

    <div class="container-view-all">
      <span>为您优先展示近一年共<span class="highlight">35000</span>条数据，如果您需要查看所有数据</span>
      <a href="#" class="btn btn-primary btn-view-all">查看全部</a>
    </div>

    <div class="container-pagination">
      <div class="pagination">
        <a href="#">上一页</a>
        <a href="#" class="pageindex">1</a>
        <a href="#" class="pageindex current">2</a>
        <a href="#" class="pageindex">3</a>
        <a href="#" class="pageindex">4</a>
        <a href="#">下一页</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block body_tail %}

<div id="message_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

<div id="remove_collection_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
      <button type="button" class="btn btn-default btn-cancel" style="width:80px;margin-left:20px;">取消</button>
    </div>
  </div>
</div>

{% endblock %}