      <div class="col-sm-3 region-right-side">
        <div class="wrapper">

          {% if !page_zhan_hui_zhong_xin %}

          <div class="block block-demo-center">
            <div class="block-header">
              展会中心
            </div>
            <div class="block-content">
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">南京浦口公证处对重点工程招投标进行现场监督行现场监督行现场监督行现场监督</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>              
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>    
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>                                                    
            </div>
          </div>

          {% endif %}

          {% if !page_hang_ye_zi_xun %}

          <div class="block block-demo-center">
            <div class="block-header">
              行业资讯
            </div>
            <div class="block-content">
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">南京浦口公证处对重点工程招投标进行现场监督行现场监督行现场监督行现场监督</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>              
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>    
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>                                                    
            </div>
          </div>

          {% endif %}  

          {% if !page_zhao_biao_he_zhun %}

          <div class="block block-demo-center">
            <div class="block-header">
              招标核准
            </div>
            <div class="block-content">
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">南京浦口公证处对重点工程招投标进行现场监督行现场监督行现场监督行现场监督</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>              
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>    
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>                                                    
            </div>
          </div>

          {% endif %}   

          <div class="block block-demo-center">
            <div class="block-header">
              项目报建
            </div>
            <div class="block-content">
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">南京浦口公证处对重点工程招投标进行现场监督行现场监督行现场监督行现场监督</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>              
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>    
              <div class="item">
                <a href="zi_xun_xiang_qing.html" class="ellipse">云南出台政府采购进场交易规则</a>
              </div>                                                    
            </div>
          </div>

          
        </div>

      </div>