{% set body_class = 'page-login' %}
{% set header_description = '会员登录' %}

{% extends 'login_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Login.init();
  });
</script>
{% endblock %}

{% block content %}

<div class="container-login">
  <div class="login">
    <form>
      <div class="login-header">
        会员登录
      </div>

      <div class="login-username">
        <div class="wrapper">
          <div class="container-icon">
            <span class="user-icon"></span>
          </div>
          <input type="text" placeholder="请输入用户名" id="username" />
        </div>
      </div>

      <div class="login-password">
        <div class="wrapper">
          <div class="container-icon">
            <span class="password-icon"></span>
          </div>
          <input type="password" placeholder="请输入密码" id="password" />
        </div>
      </div>

      <div class="container-verify-code">
        <div class="wrapper">
          <div class="col-left">
            <input type="text" id="verify_code" placeholder="请输入验证码" />
          </div>
          <div class="col-right">
            <img src="images/verify_code.png" />
          </div>
        </div>
      </div>

      <div class="container-options">
        <div>
          <input type="checkbox" class="cb-remember-me" /><span>下次自动登录</span>
        </div>
        <div>
          <a href="wang_ji_mi_ma_1.html">忘记密码</a>
        </div>
      </div>

      <div class="container-actions">
        <div class="action-login">
          <button type="submit" class="btn-login">登录</button>
        </div>
        <div class="action-register">
          不是会员？<a href="zhu_ce_1.html">免费注册</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}