{% set body_class = "page-publish" %}

{% extends 'layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.PublishCG.init();
  });
</script>
{% endblock %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="home.html">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="cglm.html">采购信息</a>
    <span class="icons-arrow-right"></span>
    <a href="fbcg.html">发布采购</a>    
  </div>
</div>

{% endblock %}

{% block content %}

<div class="region">
  <div class="row">
    <div class="col-sm-9 region-main">
      <div class="container-publish">
        <div class="container-publish-warning">
          <div class="publish-warning">
            <div class="publish-warning-header">
              <span class="icons-warn"></span>
              <span>提示</span>
            </div>
            <div class="publish-warning-body">
              <div class="item">
                <span class="bullet">&#9642;</span>
                <span>请务必确认您所发布的信息真实、合法、准确、及时，未侵犯他人合法权利，以免导致不必要的纠纷！</span>
              </div>
              <div class="item">
                <span class="bullet">&#9642;</span>
                <span>您发布的信息我们后台会有工作人员进行审核，审核成功后即可将您的公告发布出去。</span>
              </div>              
            </div>
          </div>
        </div>

        <div class="container-publish-form">
          <div class="publish-form">
            <form class="form-horizontal">
              <div class="form-group form-group-bid-company">
                <label for="bid-company" class="col-sm-4 control-label"><span class="required">*</span>采购单位：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-company" />
                </div>                
              </div>
              <div class="form-group">
                <label for="bid-agent" class="col-sm-4 control-label">招标代理：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-agent" />
                </div>                
              </div>     
              <div class="form-group form-group-publisher">
                <label for="bid-publisher" class="col-sm-4 control-label"><span class="required">*</span>发布单位：</label>
                <div class="col-sm-8">
                  <div class="radio container-radios">
                    <label>
                      <input type="radio" name="publisher" value=""> 业主单位
                    </label>
                    <label>
                      <input type="radio" name="publisher" value=""> 招标代理
                    </label>
                  </div>                 
                </div>                
              </div>  
              <div class="form-group form-group-date">
                <label for="bid-date" class="col-sm-4 control-label"><span class="required">*</span>开标日期：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-date" />
                  <span>（日期格式：2010-01-01）</span>
                </div>                
              </div>          
              <div class="form-group">
                <label for="bid-manager" class="col-sm-4 control-label">联系人：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-manager" />
                </div>                
              </div>       
              <div class="form-group form-group-tel">
                <label for="bid-tel" class="col-sm-4 control-label"><span class="required">*</span>联系电话：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-tel" />
                </div>                
              </div>  
              <div class="form-group">
                <label for="bid-email" class="col-sm-4 control-label">电子邮箱：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-email" />
                </div>                
              </div>
              <div class="form-group form-group-title">
                <label for="bid-title" class="col-sm-4 control-label"><span class="required">*</span>公告标题：</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="bid-title" />
                </div>                
              </div>
              <div class="form-group form-group-content">
                <label for="bid-content" class="col-sm-4 control-label"><span class="required">*</span>采购内容：</label>
                <div class="col-sm-8">
                  <textarea class="form-control" id="bid-content"></textarea>
                </div>                
              </div>                                                               

              <div class="form-group form-group-uploaded-files">
                <input type="file" name="file[]">
                <div class="col-sm-offset-4 col-sm-8 container-uploaded-files">
                </div>
              </div>                            

              <div class="form-group form-group-actions">
                <div class="col-sm-offset-4 col-sm-8">
                  <button type="submit" class="btn btn-primary btn-submit">确定</button>
                  <button type="button" class="btn btn-primary btn-upload-file">上传招标文件</button>
                </div>
              </div> 
                                                  
            </form>
          </div>
        </div>

      </div>
    </div>

    <div class="col-sm-3 region-right-side">
      <div class="wrapper">

        <div class="block block-region-nav" style="margin-top:0;border-top:none;">
          <div class="block-header">
            招标王分站
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>   
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>                                                       
            </div>
          </div>
        </div>         
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block body_tail %}

<div id="message_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

<div id="remove_file_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
      <button type="button" class="btn btn-default btn-cancel" style="width:80px;margin-left:20px;">取消</button>
    </div>
  </div>
</div>

{% endblock %}