{% set body_class = "page-feedback" %}
{% set feedback = 'true' %}

{% extends 'user_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Feedback.init();
  });
</script>
{% endblock %}

{% block content %}

<div class="container-feedback">

  <div class="feedback-header">
    意见反馈
  </div>

  <div class="feedback-content">
    <p>
      招标王正式上线啦，大家对招标王有什么建议和看法可以畅所欲言。
    </p>
    <p>
      我们希望广大用户提出宝贵意见和建议，寻找各种Bug。只要玩家在使用中发现Bug或对有任何建议，都可以提交给我们。
    </p>
    <p>
      建议一经采纳，提建议用户可以获得一个月的使用期限。
    </p>
    <p>
      您可以选择下面任意角度提出建议
    </p>

    <p style="margin-top: 40px;">
      1、当前招标王存在的问题
    </p>

    <p>
      2、您发现的BUG
    </p>

    <p>
      3、您的建议和意见
    </p>

    <div class="container-form">
      <form>
        <div>
          <textarea class="input-feedback" placeholder="请输入您的建议..."></textarea>
        </div>
        <div class="container-actions">
          <button type="submit" class="btn btn-primary btn-submit">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block body_tail %}

<div id="message_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

{% endblock %}