{% set header2 = 'true' %}

{% set header2_ad_service = 'true' %}

{% extends 'layout.html' %}

{% block content %}

<div class="page-ad-service page-about-us page-about-us-only-main">

  <div class="main">
    <div class="container-header">
      <span class="icons-ad-service"></span>
      <span class="title">广告服务</span>
    </div>
    <div class="container-content" style="margin-bottom: 90px;padding-top:30px;">
      <div class="ad-item">
        <div class="part-left">
          <div class="computer">
            <img src="images/tuan-dui-dummy.png" />
          </div>
        </div>
        <div class="part-right">
          <div class="ad-header">
            首页广告位
          </div>
          <div>
            <table class="table-bordered">
              <thead>
                <tr>
                  <th>位置</th>
                  <th>类型</th>
                  <th>规格</th>
                  <th>价格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A1</td>
                  <td>3轮播</td>
                  <td>1280 * 700</td>
                  <td>
                    第一张：1000元/月<br />
                    第二张：8000元/月<br />
                    第三张：6000元/月
                  </td>
                </tr>
                <tr>
                  <td>A2</td>
                  <td>单图</td>
                  <td>600 * 400</td>
                  <td>
                    4000元/月
                  </td>
                </tr>  
                <tr>
                  <td>A3</td>
                  <td>单图</td>
                  <td>500 * 400</td>
                  <td>
                    3000元/月
                  </td>
                </tr>
                <tr>
                  <td>A4</td>
                  <td>单图</td>
                  <td>400 * 400</td>
                  <td>
                    2000元/月
                  </td>
                </tr>
                <tr>
                  <td>A5</td>
                  <td>单图</td>
                  <td>300 * 400</td>
                  <td>
                    1000元/月
                  </td>
                </tr>                                                              
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ad-item">
        <div class="part-left">
          <div class="computer">
            <img src="images/tuan-dui-dummy.png" />
          </div>
        </div>
        <div class="part-right">
          <div class="ad-header">
            省级页广告位
          </div>
          <div>
            <table class="table-bordered">
              <thead>
                <tr>
                  <th>位置</th>
                  <th>类型</th>
                  <th>规格</th>
                  <th>价格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A1</td>
                  <td>3轮播</td>
                  <td>1280 * 700</td>
                  <td>
                    第一张：1000元/月<br />
                    第二张：8000元/月<br />
                    第三张：6000元/月
                  </td>
                </tr>
                <tr>
                  <td>A2</td>
                  <td>单图</td>
                  <td>600 * 400</td>
                  <td>
                    4000元/月
                  </td>
                </tr>  
                <tr>
                  <td>A3</td>
                  <td>单图</td>
                  <td>500 * 400</td>
                  <td>
                    3000元/月
                  </td>
                </tr>
                <tr>
                  <td>A4</td>
                  <td>单图</td>
                  <td>400 * 400</td>
                  <td>
                    2000元/月
                  </td>
                </tr>
                <tr>
                  <td>A5</td>
                  <td>单图</td>
                  <td>300 * 400</td>
                  <td>
                    1000元/月
                  </td>
                </tr>                                                              
              </tbody>
            </table>
          </div>
        </div>
      </div>      

      <div class="ad-item">
        <div class="part-left">
          <div class="computer">
            <img src="images/tuan-dui-dummy.png" />
          </div>
        </div>
        <div class="part-right">
          <div class="ad-header">
            市级页广告位
          </div>
          <div>
            <table class="table-bordered">
              <thead>
                <tr>
                  <th>位置</th>
                  <th>类型</th>
                  <th>规格</th>
                  <th>价格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A1</td>
                  <td>3轮播</td>
                  <td>1280 * 700</td>
                  <td>
                    第一张：1000元/月<br />
                    第二张：8000元/月<br />
                    第三张：6000元/月
                  </td>
                </tr>
                <tr>
                  <td>A2</td>
                  <td>单图</td>
                  <td>600 * 400</td>
                  <td>
                    4000元/月
                  </td>
                </tr>  
                <tr>
                  <td>A3</td>
                  <td>单图</td>
                  <td>500 * 400</td>
                  <td>
                    3000元/月
                  </td>
                </tr>
                <tr>
                  <td>A4</td>
                  <td>单图</td>
                  <td>400 * 400</td>
                  <td>
                    2000元/月
                  </td>
                </tr>
                <tr>
                  <td>A5</td>
                  <td>单图</td>
                  <td>300 * 400</td>
                  <td>
                    1000元/月
                  </td>
                </tr>                                                              
              </tbody>
            </table>
          </div>
        </div>
      </div> 

      <div class="ad-item">
        <div class="part-left">
          <div class="computer">
            <img src="images/tuan-dui-dummy.png" />
          </div>
        </div>
        <div class="part-right">
          <div class="ad-header">
            详情页广告位
          </div>
          <div>
            <table class="table-bordered">
              <thead>
                <tr>
                  <th>位置</th>
                  <th>类型</th>
                  <th>规格</th>
                  <th>价格</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>A1</td>
                  <td>3轮播</td>
                  <td>1280 * 700</td>
                  <td>
                    第一张：1000元/月<br />
                    第二张：8000元/月<br />
                    第三张：6000元/月
                  </td>
                </tr>
                <tr>
                  <td>A2</td>
                  <td>单图</td>
                  <td>600 * 400</td>
                  <td>
                    4000元/月
                  </td>
                </tr>  
                <tr>
                  <td>A3</td>
                  <td>单图</td>
                  <td>500 * 400</td>
                  <td>
                    3000元/月
                  </td>
                </tr>
                <tr>
                  <td>A4</td>
                  <td>单图</td>
                  <td>400 * 400</td>
                  <td>
                    2000元/月
                  </td>
                </tr>
                <tr>
                  <td>A5</td>
                  <td>单图</td>
                  <td>300 * 400</td>
                  <td>
                    1000元/月
                  </td>
                </tr>                                                              
              </tbody>
            </table>
          </div>
        </div>
      </div>             
    </div>
  </div>

</div>

{% endblock %}