<div id="page-header">
  {% if logged_in %}
  {% include 'user_header_inner.html' %}
  {% else %}
  <div class="header-main">
    <div class="wrapper">
      <div class="row">
        <div class="col-left col-sm-4">
          <div class="table-row">
            <div class="table-col vertical-middle">
              <a href="/home.html" class="link-logo" >
                <img src="images/logo.png" />
              </a>
              {% if region_home %}           
              <div class="selection-sites">
                <div class="description">
                  <div>招标王</div>
                  <div>旗下网站</div>
                </div>
                <div class="dropdown">
                  <div class="wrapper">
                    <span class="site-selected">河北</span><span class="icons-blue-dropdown"></span>
                  </div>
                  <div class="container-selection">
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">北京</a>
                    </div>            
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">天津</a>
                    </div>
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">北京</a>
                    </div>            
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">天津</a>
                    </div>
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">北京</a>
                    </div>            
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">天津</a>
                    </div>
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">北京</a>
                    </div>            
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">天津</a>
                    </div>
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">北京</a>
                    </div>            
                    <div class="selection">
                      <a href="sheng_ji_ye_mian.html">天津</a>
                    </div>                                                                                                  
                  </div>                 
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-right col-sm-8 align-right">
          <div class="container-phone">
            <div class="table-row">
              <div class="table-col vertical-middle">
                <span>免费热线：</span>
                <span>400-8888-666</span>
              </div>
            </div>
          </div>
          <div class="container-search">
            <div class="table-row">
              <div class="table-col vertical-middle">          
                <input type="text" placeholder="搜索" class="input-search" />
                <span class="icons-search"></span>
              </div>
            </div>
          </div>
          <div class="container-actions">
            <div class="table-row">
              <div class="table-col vertical-middle">          
                <a class="btn btn-buy" href="#">购买</a>
                <a class="btn btn-primary btn-login" href="deng_lu.html">登录</a>
                <a class="btn btn-danger btn-register" href="zhu_ce_1.html">注册</a>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>  
  </div>
  {% endif %}

  {% if show_header_img_slider %}

  <div class="header-img-slider">
    <div class="img-slider">
      <div class="img current">
        <img src="images/img-slider-1.jpg" />
      </div>
      <div class="img">
        <img src="images/img-slider-1.jpg" />
      </div>
      <div class="img">
        <img src="images/img-slider-1.jpg" />
      </div>      
    </div>
      
    <div class="container-search">
      <div class="wrapper">
        <div class="container-searchbox row">
          <div class="col-sm-10">
            <input type="text" placeholder="输入关键词搜索" class="input-search" />
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn-search">搜索</button>
          </div>
        </div>
        <div class="container-keywords">
          <span>热门搜索：</span>
          <a href="main_search.html">电梯</a>
          <a href="main_search.html">景观</a>
          <a href="main_search.html">雕塑</a>
          <a href="main_search.html">建筑</a>
          <a href="main_search.html">机场</a>
          <a href="main_search.html">污水</a>
          <a href="main_search.html">阀门</a>
        </div>
      </div>
    </div>
    
  </div>

  {% endif %}

  {% if !region_home %}

  <div class="header-menus">
    <div class="container-primary-menus">
      <div class="wrapper">
        <ul class="primary-menus">
          <li><a href="home.html" class="menu menu-home" data-name="home">首页</a></li>
          <li><a href="zblm.html" class="menu selected" data-name="zbxx">招标信息</a></li>
          <li><a href="cglm.html" class="menu" data-name="cgxx">采购信息</a></li>
          <li><a href="project.html" class="menu" data-name="xmxx">项目信息</a></li>
          <li><a href="#" class="menu" data-name="sjk">数据库</a></li>
          <li><a href="#" class="menu" data-name="zxzx">资讯中心</a></li>
          <li><a href="#" class="menu" data-name="cjk">材价库</a></li>
          <li><a href="#" class="menu" data-name="pxzx">培训中心</a></li>
          <li><a href="#" class="menu" data-name="zzdl">资质代理</a></li>
          <li><a href="#" class="menu" data-name="dzzb">电子招标</a></li>
        </ul>
      </div>
    </div>

    <div class="container-secondary-menus">
      <div class="wrapper">
        <ul class="secondary-menus secondary-menus-zbxx visible">
          <li><a href="zbgg.html" class="menu">招标预告</a></li>
          <li><a href="zbgg.html" class="menu">招标公告</a></li>
          <li><a href="zbgg.html" class="menu">招标变更</a></li>
          <li><a href="zbgg.html" class="menu">中标公告</a></li>
          <li><a href="zbgg.html" class="menu">推荐公告</a></li>
          <li><a href="zbgg.html" class="menu">免费公告</a></li>
          <li><a href="zbgg.html" class="menu">招标文件</a></li>
          <li><a href="zhao_biao_ding_yue.html" class="menu">招标订阅</a></li>
          <li><a href="fbgg.html" class="menu">发布招标</a></li>
        </ul>
        <ul class="secondary-menus secondary-menus-cgxx">
          <li><a href="zbgg.html" class="menu">政府采购</a></li>
          <li><a href="zbgg.html" class="menu">企业采购</a></li>
          <li><a href="cai_gou_ding_yue.html" class="menu">采购订阅</a></li>
          <li><a href="fbcg.html" class="menu">发布采购</a></li>                    
        </ul>
        <ul class="secondary-menus secondary-menus-xmxx">
          <li><a href="constructing_project.html" class="menu">拟在建项目</a></li>
          <li><a href="constructing_project.html" class="menu">精选项目</a></li>
          <li><a href="constructing_project.html" class="menu">追踪项目</a></li>
          <li><a href="xiang_mu_ding_yue.html" class="menu">项目订阅</a></li>
        </ul> 
        <ul class="secondary-menus secondary-menus-sjk">
          <li><a href="#" class="menu">企业名录</a></li>
          <li><a href="#" class="menu">业主单位库</a></li>
          <li><a href="#" class="menu">设计单位库</a></li>
          <li><a href="#" class="menu">招标代理机构</a></li>
          <li><a href="#" class="menu">政府采购中心</a></li>
          <li><a href="#" class="menu">工程交易中心</a></li>
          <li><a href="#" class="menu">关系企业监控</a></li>
          <li><a href="#" class="menu">竞争对手监控</a></li>          
        </ul>       
        <ul class="secondary-menus secondary-menus-zxzx">
          <li><a href="#" class="menu">招标核准</a></li>
          <li><a href="#" class="menu">项目报建</a></li>
          <li><a href="#" class="menu">行业新闻</a></li>
          <li><a href="#" class="menu">展会动态</a></li>
        </ul> 
        <ul class="secondary-menus secondary-menus-cjk">
          <li><a href="#" class="menu">材料询价</a></li>
          <li><a href="#" class="menu">业主报价</a></li>
        </ul>                                  
      </div>
    </div>
  </div>

  {% else %}

    <div class="header-menus">
      <div class="container-region-menus">
        <div class="wrapper">
          <ul class="region-menus">
            <li><a href="home.html" class="menu menu-home">首页</a></li>
            <li><a href="zbgg.html" class="menu selected">招标公告</a></li>
            <li><a href="zbgg.html" class="menu">招标预告</a></li>
            <li><a href="zbgg.html" class="menu">招标变更</a></li>
            <li><a href="zbgg.html" class="menu">中标结果</a></li>
            <li><a href="zbgg.html" class="menu">政府采购</a></li>
            <li><a href="zbgg.html" class="menu">企业采购</a></li>
            <li><a href="zbgg.html" class="menu">招标文件</a></li>
            <li><a href="constructing_project.html" class="menu">拟在建项目</a></li>
            <li><a href="constructing_project.html" class="menu">精选项目</a></li>
          </ul>
        </div>
      </div>      
    </div>

  {% endif %}

</div>