{% extends 'layout.html' %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="#">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="#">主搜索</a>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="region">
  <div class="row">
    <div class="col-sm-9 region-main">
      <div class="container-search">
        <div class="condition condition-type" data-selected-pos="0">
          <span class="condition-selected">选择类型</span><span class="icons-blue-dropdown"></span>
          <div class="container-selection">
            <div class="selection" data-pos="0" data-value="generic">
              <div class="wrapper">选择类型</div>
            </div>            
            <div class="selection" data-pos="1" data-value="bid">
              <div class="wrapper">招标信息</div>
            </div>
            <div class="selection" data-pos="2" data-value="cg">
              <div class="wrapper">采购信息</div>
            </div>
            <div class="selection" data-pos="3" data-value="project">
              <div class="wrapper">项目信息</div>
            </div>                                                   
          </div>          
        </div><input type="text" placeholder="电梯" class="searchbox" /><button class="btn btn-primary btn-search">搜索</button>
      </div>

      <!-- 选择类型条件面板 -->
      <div class="container-conditions container-generic-conditions current">
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择子类型</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择子类型</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">招标公告</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">招标预告</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">招标变更</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">中标结果</div>
            </div>      
            <div class="selection" data-pos="5">
              <div class="wrapper">政府采购</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">企业采购</div>
            </div>
            <div class="selection" data-pos="7">
              <div class="wrapper">拟在建项目</div>
            </div>
            <div class="selection" data-pos="8">
              <div class="wrapper">精选项目</div>
            </div>            

          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择省份</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择省份</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">重庆</div>
            </div>
            <div class="selection" data-pos="5">
              <div class="wrapper">北京</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="7">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="8">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="9">
              <div class="wrapper">重庆</div>
            </div>                                                                 
          </div>
        </div> 
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择城市</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择城市</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>                                                               
          </div>
        </div>            
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择时间</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择时间</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">07-23</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">07-22</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">07-21</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">07-20</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">搜索全文</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">搜索全文</div>
            </div>                                                  
          </div>
        </div>   
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">智能搜索</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">智能搜索</div>
            </div>                                                  
          </div>
        </div>  

        <button class="btn-subscribe">
          <span class="icons-subscribe"></span><span>添加到我的订阅</span>
        </button>

      </div>

      <!-- 招标信息条件面板 -->      
      <div class="container-conditions container-bid-conditions">
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择子类型</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择子类型</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">招标公告</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">招标预告</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">招标变更</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">中标结果</div>
            </div>      
            <div class="selection" data-pos="5">
              <div class="wrapper">政府采购</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">企业采购</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择省份</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择省份</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">重庆</div>
            </div>
            <div class="selection" data-pos="5">
              <div class="wrapper">北京</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="7">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="8">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="9">
              <div class="wrapper">重庆</div>
            </div>                                                                 
          </div>
        </div> 
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择城市</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择城市</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>                                                               
          </div>
        </div>            
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择时间</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择时间</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">07-23</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">07-22</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">07-21</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">07-20</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">搜索全文</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">搜索全文</div>
            </div>                                                  
          </div>
        </div>   
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">智能搜索</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">智能搜索</div>
            </div>                                                  
          </div>
        </div>  

        <button class="btn-subscribe">
          <span class="icons-subscribe"></span><span>添加到我的订阅</span>
        </button>

      </div>

      <!-- 采购信息面板 -->
      <div class="container-conditions container-cg-conditions">
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择子类型</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择子类型</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">招标公告</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">招标预告</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">招标变更</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">中标结果</div>
            </div>      
            <div class="selection" data-pos="5">
              <div class="wrapper">政府采购</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">企业采购</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择省份</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择省份</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">重庆</div>
            </div>
            <div class="selection" data-pos="5">
              <div class="wrapper">北京</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="7">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="8">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="9">
              <div class="wrapper">重庆</div>
            </div>                                                                 
          </div>
        </div> 
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择城市</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择城市</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>                                                               
          </div>
        </div>            
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择时间</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择时间</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">07-23</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">07-22</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">07-21</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">07-20</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">搜索全文</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">搜索全文</div>
            </div>                                                  
          </div>
        </div>   
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">智能搜索</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">智能搜索</div>
            </div>                                                  
          </div>
        </div>  

        <button class="btn-subscribe">
          <span class="icons-subscribe"></span><span>添加到我的订阅</span>
        </button>

      </div>

      <!-- 项目信息面板 -->
      <div class="container-conditions container-project-conditions">

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择子类型</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择子类型</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">拟在建项目</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">精选项目</div>
            </div>                                                   
          </div>
        </div>
        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择省份</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择省份</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">重庆</div>
            </div>
            <div class="selection" data-pos="5">
              <div class="wrapper">北京</div>
            </div>
            <div class="selection" data-pos="6">
              <div class="wrapper">上海</div>
            </div>
            <div class="selection" data-pos="7">
              <div class="wrapper">天津</div>
            </div>
            <div class="selection" data-pos="8">
              <div class="wrapper">山西</div>
            </div>
            <div class="selection" data-pos="9">
              <div class="wrapper">重庆</div>
            </div>                                                                 
          </div>
        </div> 

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择城市</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择城市</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">上海</div>
            </div>                                                               
          </div>
        </div>        

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">项目阶段</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">可研</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">设计阶段</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">备案</div>
            </div>            
            <div class="selection" data-pos="3">
              <div class="wrapper">审批</div>
            </div>     
            <div class="selection" data-pos="4">
              <div class="wrapper">核准</div>
            </div>                   
            <div class="selection" data-pos="5">
              <div class="wrapper">立项</div>
            </div>            
            <div class="selection" data-pos="6">
              <div class="wrapper">环评</div>
            </div>            
            <div class="selection" data-pos="7">
              <div class="wrapper">施工准备</div>
            </div>            
            <div class="selection" data-pos="8">
              <div class="wrapper">施工在建</div>
            </div>            
            <div class="selection" data-pos="9">
              <div class="wrapper">竣工</div>
            </div>            

          </div>
        </div> 

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择一级行业</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">住宅</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">办公楼</div>
            </div>
            <div class="selection" data-pos="0">
              <div class="wrapper">酒店及零售</div>
            </div>

          </div>
        </div>  

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择二级行业</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">住宅</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">办公楼</div>
            </div>
            <div class="selection" data-pos="0">
              <div class="wrapper">酒店及零售</div>
            </div>

          </div>
        </div>     

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择资金</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">500万以内</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">1000万以内</div>
            </div>

          </div>
        </div>                   

        <div class="condition" data-selected-pos="0">
          <span class="condition-selected">选择时间</span><span class="container-icon"><span class="icons-dropdown"></span></span>
          <div class="container-selection">
            <div class="selection" data-pos="0">
              <div class="wrapper">选择时间</div>
            </div>
            <div class="selection" data-pos="1">
              <div class="wrapper">07-23</div>
            </div>
            <div class="selection" data-pos="2">
              <div class="wrapper">07-22</div>
            </div>
            <div class="selection" data-pos="3">
              <div class="wrapper">07-21</div>
            </div>
            <div class="selection" data-pos="4">
              <div class="wrapper">07-20</div>
            </div>                                                   
          </div>
        </div>

        <button class="btn-subscribe">
          <span class="icons-subscribe"></span><span>添加到我的订阅</span>
        </button>

      </div>

      <div class="container-results">
        <table class="table style-primary">
          <thead>
            <tr>
              <th class="c-type">公告类型</th>
              <th class="c-title">标题</th>
              <th class="c-place">地区</th>            
              <th class="c-date">时间</th>            
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="c-type">中标公告</td>
              <td class="c-title">
                <a href="#">广西科文招标有限公司<span class="highlight">电梯</span>设备采购及安装
                <div class="container-label">
                  <span class="label">标书</span>
                </div>
                </a>
              </td>
              <td class="c-place">广西</td>
              <td class="c-date">今天</td>
            </tr>
            <tr>
              <td class="c-type">中标公告</td>
              <td class="c-title">
                <a href="#">广西科文招标有限公司<span class="highlight">电梯</span>设备采购及安装
                <div class="container-label">
                  <span class="label">标书</span>
                </div>
                </a>
              </td>
              <td class="c-place">广西</td>
              <td class="c-date">今天</td>
            </tr>
            <tr>
              <td class="c-type">中标公告</td>
              <td class="c-title">
                <a href="#">广西科文招标有限公司<span class="highlight">电梯</span>设备采购及安装广西科文招标有限公司设备采购及安装广西科文招标有限公司设备采购及安装
                <div class="container-label">
                  <span class="label">标书</span>
                </div>
                </a>
              </td>
              <td class="c-place">广西</td>
              <td class="c-date">今天</td>
            </tr>                                                                  
          </tbody>
        </table>

        <div class="container-view-all">
          <span>为您优先展示近一年共<span class="highlight">35000</span>条数据，如果您需要查看所有数据</span>
          <a href="#" class="btn btn-primary btn-view-all">查看全部</a>
        </div>

        <div class="container-pagination">
          <div class="pagination">
            <a href="#">上一页</a>
            <a href="#" class="pageindex">1</a>
            <a href="#" class="pageindex current">2</a>
            <a href="#" class="pageindex">3</a>
            <a href="#" class="pageindex">4</a>
            <a href="#">下一页</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3 region-right-side">
      <div class="wrapper">
        <div class="block block-login-register">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="btn btn-login">登录</a>
            </div>
            <div class="col-sm-6">
              <a href="#" class="btn btn-register">注册</a>
            </div>
          </div>
        </div>

        <div class="block block-services">
          <div class="block-header">
            注册后您可享受以下服务
          </div>
          <div class="block block-content container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div>
                  <span class="icons-searchview">
                  </span>
                </div>
                <div>免费查看所有招标信息</div>
              </div>
              <div class="col-sm-6">
                <div>
                  <span class="icons-hand">
                  </span>
                </div>
                <div>提前把握项目</div>
              </div>           
              <div class="col-sm-6">
                <div>
                  <span class="icons-edit">
                  </span>
                </div>
                <div>订阅属于自己的招标信息</div>
              </div>    
              <div class="col-sm-6">
                <div>
                  <span class="icons-gift">
                  </span>
                </div>
                <div>信息免费发送邮箱</div>
              </div>  
              <div class="col-sm-6">
                <div>
                  <span class="icons-send">
                  </span>
                </div>
                <div>发布招标信息</div>
              </div>
              <div class="col-sm-6">
                <div>
                  <span class="icons-cert">
                  </span>
                </div>
                <div>招标王认证</div>
              </div>                                           
            </div>
          </div> 
        </div>

        <div class="block block-register-info">
          <div class="block-header">
            5秒注册，百万招标信息唾手可得
          </div>
          <div class="block-content">
            <div class="wrapper">
              <form>
                <div class="control-group">
                  <div class="container-title">你的名字</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>
                <div class="control-group">
                  <div class="container-title">你的公司</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>

                <div class="control-group control-group-phone">
                  <div class="container-title">你的手机号码</div>
                  <div>
                    <input type="text" />
                    <button class="btn btn-primary btn-send-verify-code">发送验证码</button>
                  </div>
                </div> 
                <div class="control-group">
                  <div class="container-title">短信验证码</div>
                  <div>
                    <input type="text" />
                  </div>
                </div>                           

                <button class="btn btn-primary btn-register">免费注册</button>
              </form>
            </div>
          </div>
        </div>

        <div class="block block-related-keywords">
          <div class="block-header">
            搜索了<span class="keywords">电梯</span>的人还搜索了以下关键字：
          </div>
          <div class="block-content">
            <div class="row">
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div> 
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商场直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">直梯</a>
              </div>
              <div class="col-sm-4">
                <a href="#">电动直梯</a>
              </div>                                                             
            </div>
          </div>
        </div>

        <div class="block block-region-nav">
          <div class="block-header">
            区域导航
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>   
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>                                                       
            </div>
          </div>
        </div>        
      </div>

    </div>
  </div>
</div>

{% endblock %}