{% set body_class = "page-messages" %}
{% set my_messages = 'true' %}

{% extends 'user_layout.html' %}

{% block content %}

<div class="container-messages">

  <ul class="nav-list">
    <li>
      <a href="#" class="selected">未读</a>
    </li>
    <li>
      <a href="#">已读</a>
    </li>    
  </ul>

  <ul class="messages">
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>
    <li>
      <span class="indicator"></span>
      <span>恭喜您付款成功，您的邮箱和短信订阅功能已经开通。</span>
      <a href="#">现在设置</a>
    </li>
    <li>
      <span class="indicator"></span>
      <span>您的订阅中最近更新了500条招标信息，请您及时查看哦。</span>
    </li>          
  </ul>

</div>

{% endblock %}