{% set header2 = 'true' %}

{% set header2_mian_ze_sheng_ming = 'true' %}

{% extends 'layout.html' %}

{% block content %}

<div class="page-mian-ze page-about-us page-about-us-only-main">

  <div class="main">
    <div class="container-header">
      <span class="icons-mianze"></span>
      <span class="title">免责声明</span>
    </div>
    <div class="container-content" style="margin-bottom: 90px;">
      <p>
特别声明：请使用本网站前仔细阅读以下条款，当你开始使用本网站即视为您已仔细阅读本条款，同意接受本服务条款的所有规范并愿受其拘束，本服务条款对您及招标王(zhaobiaowang.com)均具有法律效力。
      </p>
      <p>
免责声明        
      </p>
      <p>
  招标王（zhaobiaowang.com）在建设过程中引用了因特网上的一些信息资源并对有明确来源的信息注明了出处，版权归原作者及原网站所有，如果您对本站信息资源版权的归属问题存有异议，请您联系我们，我们会立即做出答复并及时解决。如果您认为本站有侵犯您权益的行为，请通知我们，我们一定根据实际情况及时处理。
      </p>
      <p>
  本站中所提供的信息资源均按照原样提供，不附加任何形式的保证，包括适销性、适合于特定目的或不侵犯知识产权的保证。此外，招标王不保证本站所提供信息材料的绝对准确性和完整性。招标王可能在不通知注册用户的情况下随时变更本站的内容或在这些内容中介绍的产品和价格。
      </p>
    </div>
  </div>

</div>

{% endblock %}