{% set my_account = 'true' %}

{% extends 'user_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Profile.ModifyPassword.init();
  });
</script>
{% endblock %}

{% block content %}
<div id="member-center-account">

  <ul class="tab-account">
    <li>
      <a href="profile.html">个人资料</a>
    </li>
    <li>
      <a href="modify_password.html" class="selected">修改密码</a>
    </li>  
  </ul>

  <div class="container-modify-password">
    <form method="post">
      <div class="form-row row-password">
        <div class="col-key">旧密码：</div>
        <div class="col-val">
          <input type="password" id="old_password" />
        </div>
      </div>

      <div class="form-row row-new-password">
        <div class="col-key">新密码：</div>
        <div class="col-val">
          <input type="password" id="new_password" />
        </div>
      </div>

      <div class="form-row row-confirm-password">
        <div class="col-key">确认密码：</div>
        <div class="col-val">
          <input type="password" id="confirm_password" />
        </div>
      </div> 

      <div class="form-row container-actions">
        <div class="container-btn-save">
          <button type="submit" class="btn btn-primary btn-save">完成</button>
        </div>      
      </div>
    </form>

  </div>

</div>

{% endblock %}

{% block body_tail %}

<div id="modify_password_result_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

{% endblock %}