{% extends 'user_layout.html' %}

{% block content %}

<ul class="tab-account">
  <li>
    <a href="#">个人资料</a>
  </li>
  <li>
    <a href="#" class="selected">修改密码</a>
  </li>  
</ul>

<div class="container-modify-password">
  <div class="row">
    <div class="col-sm-4 col-key">旧密码：</div>
    <div class="col-sm-8 col-val">
      <input type="text" />
    </div>

    <div class="col-sm-4 col-key">新密码：</div>
    <div class="col-sm-8 col-val">
      <input type="text" />
    </div>

    <div class="col-sm-4 col-key">确认密码：</div>
    <div class="col-sm-8 col-val">
      <input type="text" />
    </div>    
     
  </div> 

  <div class="row container-actions">
    <div class="col-sm-4"></div>
    <div class="col-sm-8 container-btn-save">
      <a href="#" class="btn btn-primary btn-save">完成</a>
    </div>      
  </div>

</div>

{% endblock %}