{% set body_class = "page-project-details page-logged-in" %}
{% set logged_in = "true" %}

{% extends 'layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.ProjectDetails.init();
  });
</script>
{% endblock %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="home.html">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="project.html">项目信息</a>
    <span class="icons-arrow-right"></span>
    <a href="constructing_project.html">拟在建项目</a>
    <span class="icons-arrow-right"></span>
    <a href="project_details.html">年产10万吨石脑油综合利用厂房建设项目年产10万吨石脑油综合利用厂房建设项目年产10万吨石脑油综合利用厂房建设项目</a>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="region">
  <div class="row">
    <div class="col-sm-9 region-main">
      <div class="project">
        <div class="project-header">
          <div class="project-title">
            <h1>年产10万吨石脑油综合利用厂房建设项目</h1>
          </div>
          <div class="project-extra-info">
            <div class="item">
              <span>项目地址：</span>
              <span>山东济宁太白湖新区公主路1号</span>
            </div>
            <div class="item">
              <span>发布时间：</span>
              <span>2016-07-01</span>
            </div>
            <div class="item">
              <span>更新于1个小时前</span>
            </div>
          </div>
        </div>

        <div class="project-block project-block-outline">
          <div class="project-block-header">
            项目概况
          </div>
          <div class="project-block-content">
            <table class="table">
              <tbody>
                <tr>
                  <td class="item-name">项目编号</td>
                  <td>38741843</td>
                  <td class="item-name">跟进纪录</td>
                  <td>跟进1</td>
                </tr>
                <tr>
                  <td class="item-name">进展阶段</td>
                  <td>立项</td>
                  <td class="item-name">业主类型</td>
                  <td>商业</td>
                </tr>
                <tr>
                  <td class="item-name">项目性质</td>
                  <td>新建</td>
                  <td class="item-name">项目地区</td>
                  <td>山东 济宁</td>
                </tr>         
                <tr>
                  <td class="item-name">项目类别</td>
                  <td>工业</td>
                  <td class="item-name">项目子类别</td>
                  <td>化工厂/化肥厂</td>
                </tr>                                       
                <tr>
                  <td class="item-name">建筑面积</td>
                  <td>5758平方米</td>
                  <td class="item-name">占地面积</td>
                  <td>8000平方米</td>
                </tr>
                <tr>
                  <td class="item-name">建筑物层数</td>
                  <td>22</td>
                  <td class="item-name">装修情况</td>
                  <td>精装修</td>
                </tr>      
                <tr>
                  <td class="item-name">项目投资</td>
                  <td>估算1000万元</td>
                  <td class="item-name">钢结构</td>
                  <td>---</td>
                </tr>                                          
                <tr>
                  <td class="item-name">开工时间</td>
                  <td colspan="3">2016年12月</td>
                </tr>  
                <tr>
                  <td class="item-name">竣工时间</td>
                  <td colspan="3">2017年12月</td>
                </tr>                 
                <tr>
                  <td class="item-name">项目概况</td>
                  <td colspan="3">
                    该项目拟建设年产10万吨石脑油综合利用项目，包括新建：数幢数层高的厂房，数幢数层高的厂房，数幢数层高的厂房，数幢数层高的厂房，数幢数层高的厂房，数幢数层高的厂房
                  </td>
                </tr>                             
              </tbody>
            </table>
          </div>
        </div>

        <div class="project-block project-block-progress">
          <div class="project-block-header">
            项目跟进
          </div>
          <div class="project-block-content">
            <div class="progress-graph">
              <div class="progress-stage progress-stage-keyan">
                <span class="icon icons-keyan"></span>
                <div class="description">可研</div>
              </div><!--
           --><div class="progress-separator active"></div><!--
           --><div class="progress-stage progress-stage-sheji active">
                <span class="icon icons-sheji"></span>
                <div class="description">设计阶段</div>
              </div><!--
           --><div class="progress-separator active"></div><!--
           --><div class="progress-stage progress-stage-beian">
                <span class="icon icons-beian"></span>
                <div class="description">备案</div>
              </div><!--
           --><div class="progress-separator active"></div><!--
           --><div class="progress-stage progress-stage-shenpi">
                <span class="icon icons-shenpi"></span>
                <div class="description">审批</div>
              </div><!--
           --><div class="progress-separator active"></div><!--
           --><div class="progress-stage progress-stage-hezhun">
                <span class="icon icons-hezhun"></span>
                <div class="description">核准</div>
              </div><!--
           --><div class="progress-separator"></div><!--
           --><div class="progress-stage progress-stage-lixiang inactive">
                <span class="icon icons-lixiang"></span>
                <div class="description">立项</div>
              </div><!--
           --><div class="progress-separator"></div><!--
           --><div class="progress-stage progress-stage-huanping inactive">
                <span class="icon icons-huanping"></span>
                <div class="description">环评</div>
              </div><!--
           --><div class="progress-separator"></div><!--
           --><div class="progress-stage progress-stage-zhunbei inactive">
                <span class="icon icons-zhunbei"></span>
                <div class="description">施工准备</div>
              </div><!--
           --><div class="progress-separator"></div><!--
           --><div class="progress-stage progress-stage-zaijian inactive">
                <span class="icon icons-zaijian"></span>
                <div class="description">施工在建</div>
              </div><!--
           --><div class="progress-separator"></div><!--
           --><div class="progress-stage progress-stage-jungong inactive">
                <span class="icon icons-jungong"></span>
                <div class="description">竣工</div>
              </div>                                       
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th class="c-id">跟进</th>
                  <th>阶段</th>
                  <th>跟进纪录</th>
                  <th class="c-date">跟进日期</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="c-id">6</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>
                <tr>
                  <td class="c-id">5</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>
                <tr>
                  <td class="c-id">4</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>
                <tr>
                  <td class="c-id">3</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>
                <tr>
                  <td class="c-id">2</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>
                <tr>
                  <td class="c-id">1</td>
                  <td>项目进展更新</td>
                  <td>
                    该项目7月5日，项目在主体施工建设阶段，预计2018年12月完工
                  </td>
                  <td class="c-date">2015-07-05</td>
                </tr>                                                                                
              </tbody>
            </table>            

          </div>
        </div>

        <div class="project-block project-block-company">
          <div class="project-block-header">
            项目联系人
          </div>    
          <div class="project-block-content">
            <div class="project-company project-company-owner">
              <div class="project-company-header">
                <span class="icon icons-owner-company"></span>
                <span>业主单位</span>
              </div>
              <div class="project-company-content">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>单位名称：</td>
                      <td>平度市人民政府凤台街道办事处</td>
                      <td>业主类型：</td>
                      <td>投资商</td>
                    </tr>
                    <tr>
                      <td>职务：</td>
                      <td>经理</td>
                      <td>联系人：</td>
                      <td>李晓明 先生（项目部）</td>
                    </tr>
                    <tr>
                      <td>电话：</td>
                      <td>86-18888888888</td>
                      <td>邮箱：</td>
                      <td>123456789@163.com</td>
                    </tr>     
                    <tr>
                      <td>地址：</td>
                      <td>山东青岛平度市人民政府凤台街道办事处</td>
                    </tr>                                                         
                  </tbody>
                </table>
              </div>
            </div>

            <div class="project-company project-company-designer">
              <div class="project-company-header">
                <span class="icon icons-designer-company"></span>
                <span>设计单位</span>
              </div>
              <div class="project-company-content">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>单位名称：</td>
                      <td>平度市人民政府凤台街道办事处</td>
                      <td>业主类型：</td>
                      <td>投资商</td>
                    </tr>
                    <tr>
                      <td>职务：</td>
                      <td>经理</td>
                      <td>联系人：</td>
                      <td>李晓明 先生（项目部）</td>
                    </tr>
                    <tr>
                      <td>电话：</td>
                      <td>86-18888888888</td>
                      <td>邮箱：</td>
                      <td>123456789@163.com</td>
                    </tr>     
                    <tr>
                      <td>地址：</td>
                      <td>山东青岛平度市人民政府凤台街道办事处</td>
                    </tr>                                                         
                  </tbody>
                </table>
              </div>
            </div>

            <div class="project-company project-company-constructing">
              <div class="project-company-header">
                <span class="icon icons-constructing-company"></span>
                <span>施工单位</span>
              </div>
              <div class="project-company-content">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>单位名称：</td>
                      <td>平度市人民政府凤台街道办事处</td>
                      <td>业主类型：</td>
                      <td>投资商</td>
                    </tr>
                    <tr>
                      <td>职务：</td>
                      <td>经理</td>
                      <td>联系人：</td>
                      <td>李晓明 先生（项目部）</td>
                    </tr>
                    <tr>
                      <td>电话：</td>
                      <td>86-18888888888</td>
                      <td>邮箱：</td>
                      <td>123456789@163.com</td>
                    </tr>     
                    <tr>
                      <td>地址：</td>
                      <td>山东青岛平度市人民政府凤台街道办事处</td>
                    </tr>                                                         
                  </tbody>
                </table>
              </div>
            </div>                        
          </div>
        </div>   

        <div class="project-like-container">
          <div class="description">
            如果您对本项目感兴趣，想长期关注，可以点击
          </div>
          <div>
            <a href="#" class="btn btn-primary btn-like">收藏项目</a>
          </div>
        </div> 

      </div>

      <div class="container-guess-what-you-like">
        <div class="guess-what-you-like">
          <div class="guess-what-you-like-header">
            <span class="icons-heart"></span>
            <span>猜您喜欢</span>
          </div>
          <div class="guess-what-you-like-body container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list">
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>   
                  <li>
                    <div>
                      <div class="col col-bullet">
                        &#9642;
                      </div>
                      <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                      <div class="col col-date">06-28</div>
                    </div>                    
                  </li>                                                   
                </ul>
              </div>              
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="col-sm-3 region-right-side">
      <div class="wrapper">

        <div class="block block-ad-quick-search">
          <div class="wrapper">
            <a href="#" class="ad-quick-search">
              <img src="images/quick-search.png" />
            </a>
          </div>
        </div>

        <div class="block block-ad-search-plus-email">
          <div class="wrapper">
            <a href="#" class="ad-search-plus-email">
              <img src="images/search-plus-email-price.png" />
            </a>
          </div>
        </div>         
        
        <div class="block block-project-types">
          <div class="block-header">
            项目类型
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <a href="#">会展</a>
              </div>
              <div class="col-sm-4">
                <a href="#">办公楼</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">商业零售</a>
              </div>
              <div class="col-sm-4">
                <a href="#">工业</a>
              </div>
              <div class="col-sm-4">
                <a href="#">住宅</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">司法</a>
              </div> 
              <div class="col-sm-4">
                <a href="#">农业</a>
              </div>
              <div class="col-sm-4">
                <a href="#">交通</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">社区</a>
              </div>
              <div class="col-sm-4">
                <a href="#">教育研究</a>
              </div>
              <div class="col-sm-4">
                <a href="#">休闲娱乐</a>
              </div>            
              <div class="col-sm-4">
                <a href="#">医疗</a>
              </div>
              <div class="col-sm-4">
                <a href="#">基础建设</a>
              </div>
              <div class="col-sm-4">
                <a href="#">公用事业设施</a>
              </div>
              <div class="col-sm-4">
                <a href="#">石油天然气</a>
              </div>
              <div class="col-sm-4">
                <a href="#">开采</a>
              </div>
              <div class="col-sm-4">
                <a href="#">酒店餐饮</a>
              </div>  
              <div class="col-sm-4">
                <a href="#">新市区开发</a>
              </div> 
              <div class="col-sm-4">
                <a href="#">其它</a>
              </div>
            </div>
          </div>
        </div>

        <div class="block block-region-subsites">
          <div class="block-header">
            招标王分站
          </div>
          <div class="block-content container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>   
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>
              <div class="col-sm-2">
                <a href="#">全国</a>
              </div>
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>  
              <div class="col-sm-2">
                <a href="#">湖北</a>
              </div>            
              <div class="col-sm-2">
                <a href="#">上海</a>
              </div>                                                       
            </div>
          </div>
        </div>        
      </div>

    </div>
  </div>
</div>

{% endblock %}