{% set header2 = 'true' %}

{% set header2_service_list = 'true' %}

{% extends 'layout.html' %}

{% block content %}

<div class="page-service-list">

  <div class="main">
    <div class="container-service-list" style="max-width: 922px; margin: 0 auto;margin-bottom:30px;">
      <table class="table-bordered">
        <tbody>
          <tr>
            <td>服务事项</td>
            <td></td>
            <td></td>
            <td>vip会员</td>
            <td>高级会员</td>
            <td>初级会员</td>
            <td>免费注册会员</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>16800元/年</td>
            <td>7800元/年</td>
            <td>4800元/年</td>
            <td></td>
          </tr>    
          <tr>
            <td>招标套餐</td>
            <td>招标类</td>
            <td>招标预告</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
              7天至30天内的招标公告、采购公告
            </td>
          </tr>   
          <tr>
            <td></td>
            <td></td>
            <td>招标公告</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td>招标变更</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td>中标结果</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>  
          
          <tr>
            <td></td>
            <td>采购类</td>
            <td>采购预告</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>   
          <tr>
            <td></td>
            <td></td>
            <td>采购公告</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td>采购变更</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr> 
          <tr>
            <td></td>
            <td></td>
            <td>采购结果</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>      

          <tr>
            <td>项目套餐</td>
            <td>拟在建项目</td>
            <td>精品项目</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td></td>
            <td>
            </td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>参考项目</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td></td>
            <td>
            </td>
          </tr>   

          <tr>
            <td>提醒套餐</td>
            <td>订阅提醒</td>
            <td>邮件方式</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>短信方式</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>     
          
          <tr>
            <td>招标项目追踪器</td>
            <td></td>
            <td>招标采购</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>拟在建项目</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
          </tr>     

          <tr>
            <td>售后服务</td>
            <td></td>
            <td>电话回访</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>一对一售后服务</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>
            </td>
          </tr>

          <tr>
            <td>数据库套餐</td>
            <td>招标方数据库</td>
            <td></td>
            <td>600条</td>
            <td>单独报价</td>
            <td></td>
            <td>
            </td>
          </tr>     
          <tr>
            <td></td>
            <td>中标方数据库</td>
            <td></td>
            <td>800条</td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>投标分析报告</td>
            <td></td>
            <td>1次/年</td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>  
          <tr>
            <td></td>
            <td>竞争对手分析报告</td>
            <td></td>
            <td>1次/年</td>
            <td></td>
            <td></td>
            <td>
            </td>
          </tr>  

          <tr>
            <td>资讯中心</td>
            <td></td>
            <td>招标核准</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>项目报建</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
            <td>&checkmark;</td>
          </tr>

          <tr>
            <td>特色服务</td>
            <td></td>
            <td>资质代办</td>
            <td>单独报价</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>专业培训</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> 

          <tr>
            <td>广告宣传</td>
            <td></td>
            <td>首页A8广告位</td>
            <td>3个月</td>
            <td>2个月</td>
            <td>1个月</td>
            <td></td>
          </tr>     
          <tr>
            <td></td>
            <td></td>
            <td>列表S1广告位</td>
            <td>6个关键词/年</td>
            <td>3个关键词/年</td>
            <td>1个关键词/年</td>
            <td></td>
          </tr>         
          <tr>
            <td></td>
            <td></td>
            <td>优秀供应商展示</td>
            <td>一年</td>
            <td>6个月</td>
            <td>1个月</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>中标宣传</td>
            <td>10次/年</td>
            <td>5次/年</td>
            <td>2次/年</td>
            <td></td>
          </tr>                                                             

        </tbody>
      </table> 
    </div>
  </div>

</div>

{% endblock %}