{% set body_class = "page-home page-city-home" %}
{% set region_home = 'true' %}
{% set show_header_img_slider = '1' %}

{% extends 'layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Home.init();
  });
</script>
{% endblock %}

{% block content %}

<div class="region">
  <div class="row">

    <div class="col-sm-4">

      <div class="block block-city-sites" style="height:193px;">
        <div class="block-header style-lighter">
          <div class="container-title">河北招标网</div>
        </div>
        <div class="block-content style-lighter">
          <div class="item"><a href="shi_ji_ye_mian.html">保定招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">沧州招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">承德招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">邯郸招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">衡水招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">廊坊招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">秦皇岛招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">石家庄招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">唐山招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">邢台招标网</a></div>
          <div class="item"><a href="shi_ji_ye_mian.html">张家口招标网</a></div>
        </div>
      </div>

      <div class="block block-zbgg">
        <div class="block-header style-lighter">
          <div class="container-title">招标公告</div>
          <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                     
          </ul>
        </div>
      </div>

      <div class="block block-zbchange">
        <div class="block-header style-lighter">
          <div class="container-title">招标变更</div>
          <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                     
          </ul>
        </div>
      </div>          
    </div>

    <div class="col-sm-4">

      <div class="block block-zbhz">
        <div class="block-header style-lighter">
          <div class="container-title">招标核准</div>
          <div class="container-more"><a href="#" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li> 
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="#" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                                                        
          </ul>
        </div>
      </div>       

      <div class="block block-zbyg">
        <div class="block-header style-lighter">
          <div class="container-title">招标预告</div>
          <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                     
          </ul>
        </div>
      </div>        

      <div class="block block-zbresult">
        <div class="block-header style-lighter">
          <div class="container-title">中标结果</div>
          <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                     
          </ul>
        </div>
      </div>            

    </div>

    <div class="col-sm-4 region-right-side">
      <div class="block block-login-register">
        <div class="block-content align-center">
          <div class="row container-login-register">
            <div class="col-sm-6">
              <a href="deng_lu.html" class="btn btn-primary btn-login">登录</a>
            </div>
            <div class="col-sm-6">
              <a href="zhu_ce_1.html" class="btn btn-danger btn-register">注册</a>
            </div>
          </div>
          <div class="feature">
            <div class="container-icon">
              <span class="icons icons-boat"></span>
            </div>
            <span class="feature-title">查看招标消息</span>
            <span class="feature-info">每日<span class="color-orange">30000</span>条招标信息</span>
          </div>
          <div class="feature">
            <div class="container-icon">
              <span class="icons icons-no1"></span>
            </div>
            <span class="feature-title">提前把握项目</span>
            <span class="feature-info">项目超过<span class="color-orange">40万</span>多条</span>
          </div>     
          <div class="feature">
            <div class="container-icon">
              <span class="icons icons-hammer"></span>
            </div>
            <span class="feature-title">优先进入预选</span>
            <span class="feature-info"><span class="color-orange">1000万</span>采购业主单位</span>
          </div>             
          <div class="feature">
            <div class="container-icon">
              <span class="icons icons-statistics"></span>
            </div>
            <span class="feature-title">提高中标几率</span>
            <span class="feature-info">全网性价比第一</span>
          </div>              
        </div>
      </div> <!-- .block-login-register -->

      <div class="block block-city" style="height:436px;margin-bottom:20px;">
        <img src="images/city.jpg" />
      </div>

      <div class="block block-zbwj">
        <div class="block-header style-primary">招标文件</div>
        <div class="block-content style-primary">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-icons">
                  <span class="icons-download"></span>
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                <div class="col col-download">
                  <a href="#" class="btn-download">立即下载</a>
                </div>
              </div>
            </li>  
            <li>
              <div>
                <div class="col col-icons">
                  <span class="icons-download"></span>
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                <div class="col col-download">
                  <a href="#" class="btn-download">立即下载</a>
                </div>
              </div>
            </li>                               
            <li>
              <div>
                <div class="col col-icons">
                  <span class="icons-download"></span>
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                <div class="col col-download">
                  <a href="#" class="btn-download">立即下载</a>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-icons">
                  <span class="icons-download"></span>
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                <div class="col col-download">
                  <a href="#" class="btn-download">立即下载</a>
                </div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-icons">
                  <span class="icons-download"></span>
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告</a></div>
                <div class="col col-download">
                  <a href="#" class="btn-download">立即下载</a>
                </div>
              </div>
            </li>                                         
          </ul>
        </div>
      </div>
    </div>

  </div>
  
</div>

<div class="region">
  <div class="block block-shine">
    <img src="images/shine.jpg" />
  </div>
</div>

<div class="region">
  <div class="row">

    <div class="col-sm-8">

      <div class="block block-constructing-project">
        <div class="block-header style-lighter2">
          <div class="container-title">
            <span class="title">拟在建项目</span><span class="icons-banner-right"></span>
          </div>
          <div class="container-more"><a href="constructing_project.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>         
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                                                                                                 
          </ul>
        </div>
      </div>

      <div class="block block-jxxm">
        <div class="block-header style-lighter2">
          <div class="container-title">
            <span class="title">精选项目</span><span class="icons-banner-right"></span>
          </div>
          <div class="container-more"><a href="constructing_project.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>         
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                                                                                                 
          </ul>
        </div>
      </div>

      <div class="block block-zzxm">
        <div class="block-header style-lighter2">
          <div class="container-title">
            <span class="title">追踪项目</span><span class="icons-banner-right"></span>
          </div>
          <div class="container-more"><a href="xiang_mu_ding_yue.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>         
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="project_details.html" class="ellipse"><span class="bracket">北京</span><span class="bracket">交通运输</span><span>中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</span></a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                                                                                                 
          </ul>
        </div>
      </div>            

    </div>

    <div class="col-sm-4">
      <div class="block block-zfcg">
        <div class="block-header style-lighter2">
            <div class="container-title">
              <span class="title">政府采购</span><span class="icons-banner-right"></span>
            </div>
            <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                     
          </ul>
        </div>
      </div>

      <div class="block block-qycg">
        <div class="block-header style-lighter2">
            <div class="container-title">
              <span class="title">企业采购</span><span class="icons-banner-right"></span>
            </div>
            <div class="container-more"><a href="zbgg.html" class="btn-more">更多</a></div>
        </div>
        <div class="block-content style-lighter">
          <ul class="content-list">
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>
            <li>
              <div>
                <div class="col col-bullet">
                  &#9642;
                </div>
                <div class="col col-title"><a href="bid_details.html" class="ellipse">中国银行业监督管理委员会菏泽监管采购设备项目招标公告招标公告招标公告招标公告招标公告</a></div>
                <div class="col col-date">06-28</div>
              </div>
            </li>                                                  
          </ul>
        </div>
      </div>      
    </div>    

  </div>
</div>

<div class="region region-wrapper">
  <div class="country-sites">
    <div class="title">全国招标信息网</div>
    <div class="sites">
      <div class="site">
        <a href="sheng_ji_ye_mian.html">北京招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">天津招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">河北招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">上海招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">山西招标网</a>
      </div>   
      <div class="site">
        <a href="sheng_ji_ye_mian.html">内蒙古招标网</a>
      </div> 
      <div class="site">
        <a href="sheng_ji_ye_mian.html">江苏招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">浙江招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">安徽招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">福建招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">山东招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">重庆招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">四川招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">贵州招标网</a>
      </div>
      <div class="site">
        <a href="sheng_ji_ye_mian.html">云南招标网</a>
      </div>                                                                                  
    </div>
  </div>
</div>

{% endblock %}