<div class="block block-profile">
  <div class="wrapper">
    <div class="container-avatar-name">
      <div class="container-avatar">
        <img src="images/cafe.png" class="img-avatar" />
      </div>
      <div class="container-name">被淹死的鱼</div>
    </div>
    <div class="container-info">
      您今天浏览了8条信息，超过了20%的标友。
    </div>
    <div class="container-fullment-percentage">
      <div class="container-title"><span>资料完整度</span><span class="percentage">50%</span></div>
      <div class="container-progress">
        <div class="progress" style="width:50%;"></div>
      </div>
      <div class="container-actions"><a href="profile_edit.html" class="btn-fill-info">立即完善</a></div>
    </div>
  </div>
</div>

<div class="block block-user-status">
  <div class="status-banner">
    <div class="icons-status-bg">状态</div>
  </div>
  <div class="status-info">
    试用中（剩余免费试用期7天）
  </div>
  <div class="container-actions">
    <div>
      <a href="#" class="btn-invite-friends">邀请好友</a>
    </div>
    <div>
      <a href="#" class="btn btn-buy">立即购买</a>
    </div>
  </div>
</div>

<div class="block block-user-menus">
  <ul class="menu-list">
    <li>
      <a href="zhao_biao_ding_yue.html" {% if my_subscribe %}class="selected"{% endif %}>
        <span class="icons-book"></span>
        <span>我的订阅</span>
      </a>
    </li>
    <li>
      <a href="bid_collection.html" {% if my_collection %}class="selected"{% endif %}>
        <span class="icons-star"></span>
        <span>我的收藏</span>
      </a>
    </li>   
    <li>
      <a href="profile.html" {% if my_account %}class="selected"{% endif %}>
        <span class="icons-profile"></span>
        <span>我的账号</span>
      </a>
    </li>       
    <li>
      <a href="manage_subscribe.html" {% if subscribe_management %}class="selected"{% endif %}>
        <span class="icons-flag-add"></span>
        <span>订阅管理</span>
      </a>
    </li>       
    <li>
      <a href="orders.html" {% if my_orders %}class="selected"{% endif %}>
        <span class="icons-dollar"></span>
        <span>我的订单</span>
      </a>
    </li>       
    <li>
      <a href="messages.html" {% if my_messages %}class="selected"{% endif %}>
        <span class="icons-mail"></span>
        <span>我的消息</span><span class="red-circle"></span>
      </a>
    </li>       
    <li>
      <a href="feedback.html" {% if feedback %}class="selected"{% endif %}>
        <span class="icons-note"></span>
        <span>意见反馈</span>
      </a>
    </li>       
  </ul>

  <div class="container-actions">
    <a href="#" class="btn btn-default btn-logout">退出登录</a>
  </div>
</div>