{% set my_subscribe = 'true' %}

{% extends 'user_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.ProjectSubscribe.init();
  });
</script>
{% endblock %}

{% block content %}

<div id="member-center-subscribe" class="container-subscribe container-subscribe-project">

  <div class="container-subscribe-nav">
    <div class="row">
      <div class="col-sm-10 container-nav-list">
        <ul class="nav-list">
          <li>
            <a href="zhao_biao_ding_yue.html">招标信息</a>
          </li>
          <li>
            <a href="cai_gou_ding_yue.html">采购信息</a>
          </li> 
          <li>
            <a href="xiang_mu_ding_yue.html" class="selected">项目信息</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 container-actions">
        <a href="xiang_mu_ding_yue_xiu_gai_huo_chuang_jian.html" class="btn-add-subscribe-item">添加订阅</a>
      </div>
    </div>
  </div>

  <div class="container-subscribe-item-list">
    <div class="row">
      <div class="col-sm-12 container-item-list">
        <ul class="subscribe-item-list">
          <li>
            <a href="#" class="selected">
              <span>电梯</span>
              <span class="indicator">邮箱</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>客梯</span>
              <span class="indicator">短信</span>
            </a>
          </li>       
          <li>
            <a href="#">
              <span>打印机</span>
              <span class="indicator">邮＋短</span>
            </a>
          </li> 
        </ul>
      </div>
    </div>    
  </div>

  <div class="container-form">
    <form>
      <div class="row row-name">
        <div class="col-sm-3">
          订阅器名称：
        </div>
        <div class="col-sm-9">
          <input type="text" id="subscribe_name" />
        </div>
      </div>

      <div class="row row-keywords">
        <div class="col-sm-3">
          关键词：
        </div>
        <div class="col-sm-9">
          <div class="description">信息中含有所填关键词，便会被收录到订阅中</div>
          <div class="item">
            <input type="text" name="keyword[]" class="keyword" />
            <button type="button" class="icons-add btn-add-keyword"></button>
          </div>
        </div>
      </div>

      <div class="row row-stage">
        <div class="col-sm-3">
          项目阶段：
        </div>
        <div class="col-sm-9">
          <div class="selections selections-multiple">
            <span class="selection">
              科研
            </span>
            <span class="selection">
              设计阶段
            </span>     
            <span class="selection">
              科研
            </span>
            <span class="selection">
              设计阶段
            </span>  
            <span class="selection">
              科研
            </span>
            <span class="selection">
              设计阶段
            </span>  
            <span class="selection">
              科研
            </span>
            <span class="selection">
              设计阶段
            </span>  
            <span class="selection">
              科研
            </span>
            <span class="selection">
              设计阶段
            </span>                                                                                 
          </div> 
        </div>
      </div> 

      <div class="row row-type">
        <div class="col-sm-3">
          项目类型：
        </div>
        <div class="col-sm-9">
          <div class="selections">
            <span class="selection" data-type="1">
              住宅
            </span>
            <span class="selection" data-type="2">
              办公楼
            </span>                                     
          </div> 
        </div>
      </div>

      <div class="row row-subtype">
        <div class="col-sm-3">
          项目子类型：
        </div>
        <div class="col-sm-9">
          <div class="hint visible">
            如需订阅子类型，请点击上方具体项目类型
          </div>
          <div class="selections selections-multiple" data-type="1">
            <span class="selection" data-value="0">
              子类型1
            </span>
            <span class="selection">
              子类型1
            </span>  
            <span class="selection">
              子类型1
            </span>  
            <span class="selection">
              子类型1
            </span>                                                                                         
          </div>
        </div>           
      </div>                

      <div class="row row-province">
        <div class="col-sm-3">
          省份：
        </div>
        <div class="col-sm-9">
          <div class="selections">
            <span class="selection selection-all">
              全国
            </span>            
          </div>
          <div class="selections selections-multiple">
            <span class="selection selection-first-level">
              华北
            </span>
            <div class="selection-second-level-group">
              <span class="selection" data-province="1">
                北京
              </span>
              <span class="selection" data-province="2">
                天津
              </span>
              <span class="selection" data-province="3">
                河北
              </span>
              <span class="selection" data-province="4">
                山西
              </span>
              <span class="selection" data-province="5">
                内蒙古
              </span>                                     
            </div>
          </div> 
          <div class="selections selections-multiple">
            <span class="selection selection-first-level">
              东北
            </span>
            <div class="selection-second-level-group">
              <span class="selection" data-province="6">
                辽宁
              </span>
              <span class="selection" data-province="7">
                吉林
              </span>
              <span class="selection" data-province="8">
                黑龙江
              </span>                                                             
            </div>                           
          </div>                    
        </div>
      </div> 

      <div class="row row-city">
        <div class="col-sm-3">
          城市：
        </div>
        <div class="col-sm-9">
          <div class="hint visible">
            如需订阅市级地区，请点击上列省份按钮
          </div>
          <div class="selections selections-multiple" data-province="3">
            <span class="selection" data-value="1">
              保定1
            </span>
            <span class="selection" data-value="2">
              保定2
            </span>                                                                    
          </div>
          <div class="selections selections-multiple" data-province="4">
            <span class="selection" data-value="1">
              太原
            </span>
            <span class="selection" data-value="2">
              平遥
            </span>                                                                    
          </div>       
          <div class="selections selections-multiple" data-province="5">
            <span class="selection" data-value="1">
              赤峰
            </span>
            <span class="selection" data-value="2">
              呼和浩特
            </span>                                                                    
          </div>                
        </div>           
      </div>

      <div class="row row-subscribe">
        <div class="col-sm-3">
          是否订阅：
        </div>
        <div class="col-sm-9">
          <div class="selections selections-multiple">
            <span class="selection">
              邮箱
            </span>
            <span class="selection">
              短信
            </span>                          
          </div> 
        </div>
      </div>

      <div class="row row-actions">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <div class="container-actions">
            <button type="submit" class="btn btn-primary btn-save">完成</button>
          </div>
        </div>
      </div>                        

    </form>

  </div>

</div>

{% endblock %}

{% block body_tail %}

<div id="message_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

{% endblock %}