{% set header2 = 'true' %}

{% set header2_zhao_pin = 'true' %}
{% set page_zhao_pin_ji_shu = 'true' %}

{% extends 'layout.html' %}

{% block content %}

<div class="page-zhao-pin page-about-us">

  {% include "zhao_pin_left_side.html" %}

  <div class="main">
    <div class="container-header">
      <span class="icons-zhaopin"></span>
      <span class="title">招聘信息</span>
    </div>
    <div class="container-content">
      <p style="text-indent:2em;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
      </p>
      <div style="margin-bottom:40px;">
        <span style="margin-right:30px;">邮箱：zhaobiaowang@zhaobiaowang.com</span>
        <span>电话：12345678911</span>
      </div>

      <div class="container-position">
        <span class="icons-position-banner">Java开发工程师</span>
        <div class="part part-two-cols">
          <div class="item">职位类型：技术－后台开发</div>
          <div class="item">最低学历：本科</div>
          <div class="item">工作地点：北京</div>
          <div class="item">工作年限：0－3年</div>
          <div class="item">招聘人数：1人</div>
          <div class="item">工作类型：全职</div>
        </div>
        <div class="part">
          <p>岗位描述</p>
          <p>
            1. 研究IOS系统底层机制，开发通用组件；
          </p>
          <p>
            2. 研究IOS系统底层机制，开发通用组件；
          </p>
          <p>
            3. 研究IOS系统底层机制，开发通用组件；
          </p>                    
        </div>

        <div class="part">
          <p>岗位要求</p>
          <p>
            1. 计算机相关专业，本科及以上学历；
          </p>
          <p>
            2. 精通Object C语言，2年以上相关语言开发经历；熟悉C/C++语言者优先考虑；
          </p>
          <p>
            3. 深刻理解IOS平台架构、主要组成和工作模式；
          </p>                    
        </div>        
      </div>

      <div class="container-position">
        <span class="icons-position-banner">销售人员</span>
        <div class="part part-two-cols">
          <div class="item">职位类型：技术－后台开发</div>
          <div class="item">最低学历：本科</div>
          <div class="item">工作地点：北京</div>
          <div class="item">工作年限：0－3年</div>
          <div class="item">招聘人数：1人</div>
          <div class="item">工作类型：全职</div>
        </div>
        <div class="part">
          <p>岗位描述</p>
          <p>
            1. 研究IOS系统底层机制，开发通用组件；
          </p>
          <p>
            2. 研究IOS系统底层机制，开发通用组件；
          </p>
          <p>
            3. 研究IOS系统底层机制，开发通用组件；
          </p>                    
        </div>

        <div class="part">
          <p>岗位要求</p>
          <p>
            1. 计算机相关专业，本科及以上学历；
          </p>
          <p>
            2. 精通Object C语言，2年以上相关语言开发经历；熟悉C/C++语言者优先考虑；
          </p>
          <p>
            3. 深刻理解IOS平台架构、主要组成和工作模式；
          </p>                    
        </div>        
      </div>      
    </div>
  </div>

</div>

{% endblock %}