{% set body_class = "page-register" %}
{% set header_description = '免费注册' %}

{% extends 'login_layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    ZBW.Register.Step1.init();
  });
</script>
{% endblock %}

{% block content %}

<div class="container-register">
  <div class="container-register-progress">
    <div class="register-progress">
      <div class="item active">
        <div class="tail"></div><div class="body"><span>1 注册</span><span>填写资料</span></div><div class="head"></div>
      </div>

      <div class="item">
        <div class="tail"></div><div class="body"><span>2 完善</span><span>注册信息</span></div><div class="head"></div>
      </div>

      <div class="item">
        <div class="tail"></div><div class="body"><span>3 完成</span><span>账号注册</span></div><div class="head"></div>
      </div>      

    </div>
  </div>

  <div class="container-content">
    <div class="container-register-form">
      <form>
        <div class="form-row row-type">
          <div class="col">
            <span class="required">*</span>会员类型：
          </div>
          <div class="col">
            <div class="item"><input type="radio" name="user_type" class="user-type" />供应商</div>
            <div class="item"><input type="radio" name="user_type" class="user-type" />开发商</div>
            <div class="item"><input type="radio" name="user_type" class="user-type" />设计院</div>
          </div>
          <span class="hint">请选择会员类型</span>
        </div>

        <div class="form-row row-username">
          <div class="col">
            <span class="required">*</span>用户名：
          </div>
          <div class="col">
            <input type="text" id="username" />
            <span class="hint">请输入3－30个字母或数字</span>
          </div>
        </div>

        <div class="form-row row-password">
          <div class="col">
            <span class="required">*</span>登录密码：
          </div>
          <div class="col">
            <input type="password" id="password" />
            <span class="hint">请输入6－20个字符，区分大小写</span>
          </div>
        </div>

        <div class="form-row row-password-complexity">
          <div class="col">
            密码强度：
          </div>
          <div class="col">
            <span class="weak">弱</span><span class="medium">中</span><span class="strong">强</span>
          </div>
        </div>        

        <div class="form-row row-confirm-password">
          <div class="col">
            <span class="required">*</span>重复输入密码：
          </div>
          <div class="col">
            <input type="password" id="confirm_password" />
          </div>
        </div>

        <div class="form-row row-name">
          <div class="col">
            <span class="required">*</span>姓名：
          </div>
          <div class="col">
            <div class="wrapper">
              <input type="text" id="name" />
              <div class="container-sex">
                <div class="item">
                  <input type="radio" name="sex" class="sex" />男
                </div>
                <div class="item">
                  <input type="radio" name="sex" class="sex" />女
                </div>              
              </div>
            </div>
            <span class="hint">请与身份证姓名保持一致，否则无法通过审核
            </span>
          </div>
        </div>

        <div class="form-row row-company-name">
          <div class="col">
            <span class="required">*</span>公司名称：
          </div>
          <div class="col">
            <input type="text" id="company_name" />
            <span class="hint">
              请填写公司全称，与营业执照保持一致
            </span>            
          </div>
        </div>

        <div class="form-row row-phone">
          <div class="col">
            <span class="required">*</span>手机号码：
          </div>
          <div class="col">
            <input type="text" id="telphone" />
            <span class="hint">请填写手机号码</span>
          </div>
        </div>

        <div class="form-row row-verify-code">
          <div class="col">
            <span class="required">*</span>验证码：
          </div>
          <div class="col">
            <input type="text" id="verify_code" /><button type="button" class="btn-send-verify-code">点击发送验证码</button>
          </div>
        </div>

        <div class="form-row row-accept-license">
          <div class="col">
          </div>
          <div class="col">
            <input type="checkbox" id="accept_license" />
            我已认真阅读并接受<span class="btn-show-license-dialog">《招标王会员服务条款》</span>中的各项内容
          </div>
        </div>

        <div class="form-row row-actions">
          <div class="col">
          </div>
          <div class="col">
            <button type="submit" class="btn btn-primary btn-submit">提交</button>
          </div>
        </div>                                                 

      </form>
    </div>

    <div class="container-login">
      <div class="login">
        <div>or</div>
        <div>
          <div>已有账号：</div>
          <div>
            <a href="deng_lu.html" class="btn-login">
              <span>请直接登录</span>
              <span class="icons-direct-login"></span>
            </a>            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block body_tail %}

<div id="license_dialog" class="dialog">
  <div class="wrapper">
    <div class="dialog-content">
      <div class="container-close-icon">
        <span class="icons-close"></span>
      </div>
      <div class="wrapper">
        <div class="content">
          <p class="title">招标王服务条款</p>
          <p>
            1. 特别说明<br />
            1.1 招标王同意按照本协议的规定及其不定时发布的操作规则提供基于互联网的相关服务（以下称"网络服务 "）。为获得网络服务，服务使用人（以下称"用户"）应当同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"接受服务条款"即表示用户完全接受本协议项下的全部条款。
          </p>
          <p>
            2. 服务内容<br />
            2.1 招标王网络服务的具体内容由招标王根据实际情况提供，并保留随时变更、中断或终止部分或全部网络服务的权利。
            2.2 招标王在提供网络服务时，会对部分网络服务的用户收取一定的费用。在此情况下，招标王会在相关页面上做明确的提示。如用户拒绝支付该项费用，则不能使用相关的网络服务。<br />
            2.3 招标王仅提供相关的网络服务，除此之外与相关网络服务有关的设备（如电脑、调制解调器及其他与接入互联网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费）均应由用户自行负担。            
          </p>
          <p>
      3. 使用规则<br />
      3.1 用户在申请使用招标王网络服务时，必须提供准确的企业及个人资料，如资料有任何变动，必须及时更新。<br />
      3.2 用户注册成功后，招标王将给予每个用户一个用户名及相应的密码，该用户名和密码由用户负责保管；用户应当对以其用户名进行的所有活动和事件负法律责任。<br />
      3.3 用户必须同意接受招标王通过电子邮件或其他方式向用户发送的相关网站服务信息。<br />
      3.4 用户必须同意遵循以下原则：<br />
      (a) 遵守中国有关的法律和法规；<br />
      (b) 不得为任何非法目的而使用网络服务系统；<br />
      (c) 遵守所有与网络服务有关的网络协议、规定和程序；<br />
      (d) 不得利用招标王网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；<br />
      (e) 不得利用招标王网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br />
      (f) 不得利用招标王网络服务系统进行任何不利于招标王的行为；<br />
      (g) 如发现任何非法使用用户名或用户出现安全漏洞的情况，应立即通告招标王。<br />
      3.5 用户必须同意遵循以下规则：<br />
      (a) 未经招标王书面许可，用户不得将其用户名、密码转售、赠与、转借、租供给第三方或用于商业性用途。否则，由此造成的一切后果和责任由用户承担；同时，招标王有权单方面中止为其提供的服务。<br />
      (b) 未经招标王书面许可，用户不得利用招标王所获得的信息用于商业用途，如发现用户与招标王形成竞争或损害招标王的利益，或招标王认为对其正常运营造成损害的其他行为，招标王有权单方面终止其使用资格，由此造成的一切后果和责任由用户承担。<br />
          </p>
          <p>
      4. 内容所有权<br />
      4.1 招标王提供的网络服务内容受版权、商标和其它财产所有权法律的保护。<br />
      4.2 用户只有在获得招标王或其他相关权利人的授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的衍生产品。
          </p>
          <p>
      5. 隐私保护<br />
      5.1 保护用户隐私是招标王的一项基本政策，招标王保证不对外公开或向第三方提供用户注册资料及用户在使用网络服务时存储在招标王的非公开内容，但下列情况除外：<br />
      (a) 事先获得用户的明确授权；<br />
      (b) 根据有关的法律法规要求；<br />
      (c) 按照相关政府主管部门的要求；<br />
      (d) 为维护社会公众的利益；<br />
      (e) 为维护招标王的合法权益。<br />
      (f) 潜在有利于用户利益的用途。        
          </p>    
          <p>
      6. 免责声明<br />
      6.1 用户使用招标王网络服务所存在的风险将完全由其自己承担；因其使用招标王网络服务而产生的一切后果也由其自己承担，招标王对用户不承担任何责任。<br />
          </p> 
          <p>
      7. 服务变更、中断或终止<br />
      7.1 如因系统维护或升级的需要而需暂停网络服务，招标王将尽可能事先进行通告。<br />
      7.2 如发生下列任何一种情形，招标王有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户：<br />
      (a) 用户提供的个人资料不真实；<br />
      (b) 用户违反本协议中规定的使用规则。<br />
      7.3 除前款所述情形外，招标王同时保留在事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，招标王无需对用户或任何第三方承担任何责任。
          </p>
          <p>
      8. 违约赔偿<br />
      8.1 用户同意保障和维护招标王及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给招标王或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。
          </p>
          <p>
      9. 协议变更<br />
      9.1 招标王将根据实际情况不定期的修改本协议的有关条款，一旦条款内容发生变动，招标王将会在相关的页面提示修改内容。<br />
      9.2 如果不同意招标王对服务条款所做的修改，用户有权停止使用网络服务。如果用户继续使用网络服务，则视为用户接受服务条款的变动。
          </p>
          <p>
      10. 通知和送达<br />
      10.1 本协议事项下所有的通知均通过重要页面公告、电子邮件或常规的信件传送等方式进行；通知发送之日即视为已送达到用户。<br />
          </p>
          <p>
      11. 其他规定<br />
      11.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。<br />
      11.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
          </p>
        </div>        
      </div>
    </div>
    <div class="dialog-footer">
      <button class="btn btn-primary btn-finish-read">阅读完毕</button>
    </div>
  </div>
</div>

{% endblock %}