{% extends 'layout.html' %}

{% block after_main_js %}
<script type="text/javascript">
  $(function() {
    
  });
</script>
{% endblock %}

{% block breadcrumb %}

<div class="container-breadcrumb">
  <div class="breadcrumb">
    <span class="icons-geo"></span>
    <span>您当前的位置：</span>
    <a href="home.html">招标王</a>
    <span class="icons-arrow-right"></span>
    <a href="hang_ye_zi_xun.html">行业资讯</a>
    <span class="icons-arrow-right"></span>
    <a href="zi_xun_xiang_qing.html">云南出台政府采购进场交易规则</a>    
  </div>
</div>

{% endblock %}

{% block content %}

<div class="page-industry-news-details">
  <div class="region">
    <div class="row">
      <div class="col-sm-9 region-main">

        <div class="news">
          <div class="title">云南出台政府采购进场交易规则</div>
          <div class="publish-date">
            发布时间：2016年7月18日
          </div>
          <p style="text-indent:2em;">
为贯彻落实国务院、省政府关于整合建立统一的公共资源交易平台工作方案中规则清理的有关要求，近日，云南省财政厅对2010年以来政府采购项目进场交易的相关规则进行了清理，并结合省政府采购项目实际，制定了《云南省政府采购项目进入公共资源交易中心交易规则（暂行）》。            
          </p>
          <p style="text-indent:2em;">
一、明确了进场范围            
          </p>          
          <p style="text-indent:2em;">
按照当年度省政府颁布的集中采购目录及限额标准的规定，达到公开招标数额标准以上的政府采购项目(包括进口产品的政府采购)，应进入公共资源交易中心交易。</p>
  <p style="text-indent:2em;">
二、提出了相关要求</p>
 <p style="text-indent:2em;">
公共资源交易中心在政府采购活动中，不得改变采购人、采购代理机构和供应商等主体的法定权利义务，不得在法定程序外新设登记、报名、备案、资格审核等程序，限制或阻止采购代理机构、供应商进入本地的政府采购市场；不得违规组织对评审活动进行现场监督，干预政府采购评审结果。</p>
 <p style="text-indent:2em;">
公共资源交易中心不得取代依法设立的集中采购机构的法人地位、法定代理权以及依法设立的其他交易机构和代理机构从事的相关服务，不得违法从事或强制指定招标、拍卖等中介服务，不得行使行政审批、备案等管理职能，不得强制非公共资源交易项目在平台交易，不得通过设置注册登记、设立分支机构、资质验证、投标（竞买）许可、强制担保、收退保证金等限制性条件阻碍或者排斥其他地区市场主体进入公共资源交易市场。</p>
 <p style="text-indent:2em;">
进场交易的政府采购项目，交易中心应免费为采购人和采购代理机构提供评审过程录音录像的拷贝服务。</p>
 <p style="text-indent:2em;">
对涉及政府采购活动的违法违规问题，公共资源交易中心应向同级财政（政府采购监督管理）部门如实反映情况，配合做好监督检查和投诉处理工作。</p>
        </div>

        <div class="related-news">
          <div class="related-news-header">
            <span class="icons-related-news"></span>
            <span>相关资讯</span>
          </div>
          <div class="related-news-body">
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行江干区民营（私营）企业协会开户银行江干区民营（私营）企业协会开户银行江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>  
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>  
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>  
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>  
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>  
            <div class="item">
              <div class="title">
                <a class="ellipse" href="zi_xun_xiang_qing.html">江干区民营（私营）企业协会开户银行</a>
              </div>
              <div class="date">
                2016-06-28
              </div>
            </div>                                                                                    
          </div>
        </div>
      </div>

      {% include "demo_center_right_side.html" %}
    </div>
  </div>
</div>

{% endblock %}

{% block body_tail %}

<div id="message_dialog" class="dialog">
  <div class="wrapper" style="width:400px;">
    <div class="dialog-header">
      <span class="icons-close"></span>
    </div>
    <div class="dialog-content">
    </div>
    <div class="dialog-footer">
      <button type="button" class="btn btn-ok btn-primary" style="width:80px;">确定</button>
    </div>
  </div>
</div>

{% endblock %}