.page-find-password {
  $input-text-width: 300px;
  $input-text-height: 32px;

  .container-find-password {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 0 300px 0;

    .required {
      color: red;
      margin-right: 5px;
    }

    .form-row {
      margin-bottom: 20px;

      & > .col {
        display: inline-block;
      }

      .col:first-child {
        width: 120px;
        text-align: right;
      }

      input[type="text"], input[type="password"] {
        padding: 5px;
        width: $input-text-width;
        height: $input-text-height;
        vertical-align: middle;
      }

      .hint {
        margin-left: 5px;
        color: #888;

        &.highlight {
          color: red;
        }
      }
    }

    .row-verify-code {
      input[type="text"] {
        width: $input-text-width - 150px;
      }

      .btn-send-verify-code {
        width: 150px;
        height: $input-text-height;
        color: $brand-primary-color;
        background-color: #e8f5fe;
        border: 1px solid #ccc;
        border-left: none;
        vertical-align: middle;
      }
    }  

    .row-actions {
      .btn-submit {
        padding: 5px 30px;
      }
    }    
  }
}