#page-header.logged-in {
  .header-main {

    .container-actions {
      width: 320px;
      font-size: 16px;

      $btn-border-radius: 15px;

      .btn-buy {
        padding: 5px 20px;
        margin-right: 30px;

        @include border-radius($btn-border-radius);
        border: 1px solid $brand-danger-color;
        background-color: $brand-danger-color;

        @include reset-anchor-color(white);

        &:hover {
          background-color: darken($brand-danger-color, 10%);
        }
      }

      .container-profile, .container-avatar, .container-name {
        display: inline-block;
        vertical-align: middle;
      }

      .container-profile {
        cursor: pointer;
        position: relative;
        $border-height: 12px;
        $border-color: #666;
        &:after {
          content: "";
          display: inline-block;
          border-top: $border-height solid $border-color;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
        }

        &.menus-visible {
          &:after {
            border-top: none;
            border-bottom: $border-height solid $border-color;
          }

          .container-user-menus {
            display: block;
          }
        }

        .container-user-menus {
          position: absolute;
          border: 1px solid #ccc;
          top: 60px;
          left: 0px;
          width: 200px;
          display: none;
          text-align: center;
          z-index: 100;
          background-color: white;

          li:last-child {
            a {
              border-bottom: none;
            }
          }

          a {
            display: block;
            padding: 10px 0;
            font-size: 15px;
            color: #666;
            border-bottom: 1px solid #e0e0e0;

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }
      }

      .container-avatar {
        margin-right: 10px;
        img {
          width: 48px;
          height: 48px;
        }
      }

      .container-name {
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}