.page-project-details {

  .project {
    .project-header {
      .project-extra-info {
        margin-top: 10px;
        color: #888;

        .item {
          display: inline-block;

          margin-right: 30px;
        }
      }
    }

    .project-block {
      margin-top: 30px;

      .project-block-header {
        border-left: 5px solid $brand-primary-color;
        color: $brand-primary-color;
        font-size: 16px;
        padding-left: 10px;
      }

      .project-block-content {
        margin-top: 15px;
      }
    }

    .project-block-outline {
      .project-block-content {
        td.item-name {
          background-color: #caedff;
          width: 130px;
          text-align: center;
        }
        td {
          border: 1px solid #d4ecff;
          vertical-align: middle;
          padding: 10px;
        }

      }
    }

    .project-block-progress {

      @include icons(keyan);
      @include icons(sheji);
      @include icons(beian);
      @include icons(shenpi);
      @include icons(hezhun);
      @include icons(lixiang);
      @include icons(huanping);
      @include icons(zhunbei);
      @include icons(zaijian);
      @include icons(jungong);

      .project-block-content {
        margin-top: 46px;

        .progress-graph {
          height: 120px;
          line-height: 120px;

          .progress-stage, .progress-separator {
            display: inline-block;
          }

          .progress-separator {
            width: 50px;
            height: 2px;
            background-color: #e0e0e0;
            vertical-align: middle;

            &.active {
              width: 30px;
              background-color: #9ad857;
            }
          }

          .progress-stage {
            position: relative;
            &.inactive {
              .icon {
                background-image: none;
                background-position: 0 0;
                background-color: #e0e0e0;
                width: 16px;
                height: 16px;
                @include border-radius(8px);              
              }
            }
          }

          .description {
            line-height: initial;
            position: absolute;
            bottom: 0;
            left: -20px;
            right: -20px;
            text-align: center;
          }

          .icon {
            vertical-align: middle;
          }

          .progress-stage-sheji, .progress-stage-shenpi, .progress-stage-lixiang, .progress-stage-zhunbei, .progress-stage-jungong {
            .description {
              top: 0;
            }
          }        
        }

        .table {
          margin-top: 52px;
          thead tr {
            background-color: #caedff;
            th {
              text-align: center;
              font-weight: lighter;
            }
          }
          td, th {
            padding: 10px;
            border: 1px solid #d4ecff;
            vertical-align: middle;
          }
          .c-id {
            background-color: #caedff;
            text-align: center;
          }
          .c-id, .c-date {
            text-align: center;
          }
        }
      }
    }

    .project-block-company {

      @include icons(owner-company);
      @include icons(designer-company);
      @include icons(constructing-company);

      .project-block-content {
        margin-top: 40px;

        .project-company-header {
          padding-left: 30px;
          padding-bottom: 10px;
          border-bottom: 2px solid $brand-primary-color;

          color: $brand-primary-color;

          span {
            vertical-align: middle;
          }

          .icon {
            margin-right: 10px;
          }
        }

        .project-company-content {
          padding: 10px 10px 10px 30px;
        }

        .table {
          td:nth-child(1), td:nth-child(3) {
            width: 100px;
            text-align: right;
          }
        }
      }
    }

    .project-like-container {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;

      .description {
        margin-bottom: 10px;
        color: #666;
      }

      .btn-like, .btn-view-samples {
        padding: 8px 30px;
      }
    }
  }  

  .container-guess-what-you-like {
    margin-top: 30px;
    margin-bottom: 30px; 

    .guess-what-you-like {
      border: 1px solid #e0e0e0;
      padding: 15px 10px;
    }

    @include icons(heart);

    .guess-what-you-like-header {
      span {
        margin-right: 10px;
        vertical-align: middle;
        color: $brand-primary-color;
        font-size: 16px;
      }
    }

    .guess-what-you-like-body {
      margin-top: 20px;

      .list {
        li {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }
        .col {
          display: inline-block;
          vertical-align: middle;
        }

        .col-bullet {
          width: 5%;
          text-align: left;
          vertical-align: middle;
        }

        .col-title {
          width: 70%;

          a {
            vertical-align: middle;
            color: #666;
            &:hover {
              color: $brand-primary-color;
            }
          }
        }

        .col-date {
          width: 20%;
          text-align: center;
        }
      }
    }
  }

  // not login
  .project-not-login {
    .project-block-outline {
      .project-block-content {
        .table {
          tr:nth-child(odd) {
            background-color: #e3f6fd;
          }

          td.item-name {
            background-color: #ccf0fc;
          }
        }
      }

      .btn-login {
        color: $brand-primary-color;
        text-decoration: underline;
      }
    }

    .project-block-progress {
      .project-block-content {
        .table {
          tbody {
            tr:nth-child(even) {
              td:nth-child(odd) {
                background-color: #ccf0fc;
              }
              td:nth-child(even){
                background-color: #e3f6fd;
              }
            }

            tr:nth-child(odd) {
              td:nth-child(odd){
                background-color: #e3f6fd;
              }          
            }          
          }
          thead {
            th:nth-child(odd) {
              background-color: #ccf0fc;
            }
            th:nth-child(even) {
              background-color: #e3f6fd;
            }          
          }
        }
      }

      .btn-login {
        color: $brand-primary-color;
        margin-left: 10px;
      }    
    }
  }

  // free account
  .project-block-progress {
    .table {
      .btn-buy {
        color: #f4681b;
        border: 1px solid #f4681b;
        margin: 0 5px;
      }

      .free-phone {
        color: #f4681b;
        margin: 0 5px;
        text-decoration: underline;
      }
    }
  }  
}