.page-yi-jian-jian-yi {
  @include icons(mianze);
  
  .container-form {
    margin-top: 30px;
    max-width: 600px;
    text-align: center;

    textarea {
      width: 100%;
      height: 300px;
      border: 1px solid #ccc;
    }

    .btn-submit {
      width: 80px;
    }
  }
}