@import "compass/css3";
@import "vars";
@import "utils";
@import "icons";

$base-font-size: 14px;
$base-font-color: #333;
$body-bg-color: #dddddd;

$page-max-width: 1366px;

* {
  outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    overflow-x: hidden; 
}

body {
    background: $body-bg-color;
    color: $base-font-color;
    // font-family: Arial, Helvetica, sans-serif
    // font-weight: 300;
    font-family: Arial, "宋体", sans-serif;
}

h1 {
  margin: 0;
  font-size: 25px;
}

h2 {
  margin: 0;
  font-size: 20px;
}

a {
  @include reset-anchor-color(#2d84e5);

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    color: #2d84e5;
  }
}

a.btn {
  color: white;
}

a.style-black {
  @include reset-anchor-color(#555);

  &:hover {
    text-decoration: none;
    color: #2d84e5;
  }    
}

a.style-gray {
  @include reset-anchor-color(#666);

  &:hover {
    text-decoration: none;
    color: #2d84e5;
  }  
}

p {

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.color-orange {
  color: $brand-danger-color;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input[type="text"] {
  border: 1px solid #ccc;
}

// .row {
//   & > .col {
//     float: left;
//   }

//   &:after {
//     content: "";
//     clear: both;
//     display: table; // so we can add border to .row element
//   }
// }

/**
 *
 * table layout
 */
.table-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.table-row > .table-col {
  display: table-cell;
}
.vertical-middle {
  vertical-align: middle;
}
.table-col.vertical-middle {
  vertical-align: middle;
}
.table-col.vertical-bottom {
  vertical-align: bottom;
}
.table-col.vertical-top {
  vertical-align: top;
}

#page-container {
  max-width: $page-max-width;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

// image slider
.img-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .img {
    opacity: 0;

    &.current {
      opacity: 1;
    }
  }
}

.img-slider-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  height: 30px;
  line-height: 30px;

  text-align: center;

  span {
    margin-right: 10px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  span.icons-slider-circle-current {
    cursor: default;
  }

  @include icons(slider-circle);
  @include icons(slider-circle-current);
}

.container-breadcrumb {
  background-color: #f7f7f7;
  margin-bottom: 30px;

  .breadcrumb {
    max-width: 1200px;
    padding: 15px 0;
    margin: 0 auto;

    @include icons(geo);
    @include icons(arrow-right);

    span, a {
      vertical-align: middle;
    }

    .icons-geo {
      margin-right: 5px;
    }

    .icons-arrow-right {
      margin: 0 5px;
    }

    a {
      color: #333;
    }
  }
}

#main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/**
 * block style
 */
a.ellipse, span.ellipse {
  @include anchor-ellipse;
  display: inline-block;
}

.block {
  // style-primary
  .block-header.style-primary {
    @include border-top-left-radius(5px);
    @include border-top-right-radius(5px);

    height: 40px;
    line-height: 40px;

    background-color: $brand-primary-color;
    color: white;
    text-align: center;
    font-size: 16px;
  }

  .block-content.style-primary, .block-content.style-lighter {
    .content-list {

      li {
        padding: 8px 0;

        border-bottom: 1px dotted #e0e0e0;

        &:last-child {
          border-bottom: none;
        }
      }

      .col {
        display: inline-block;

        a {
          vertical-align: middle;

          @include reset-anchor-color(#666);

          &:hover {
            text-decoration: none;
            color: #2d84e5;
          }              
        }

        span {
          vertical-align: middle;
        }
      }

      .col-bullet {
        width: 5%;
        text-align: center;
        vertical-align: middle;

        span {
          vertical-align: middle;
        }
      }

      .col-icons {
        width: 10%;
        text-align: center;

        span {
          vertical-align: middle;
        }
      }
    }
  }

  .block-content.style-primary {
    .content-list {
      border-bottom: 1px solid #e0e0e0;

      background-color: #f7f7f7;
    }  
  }

  // style-lighter
  .block-header.style-lighter {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;

    background-color: #f7f7f7;
    color: $brand-primary-color;
    border-top: 2px solid $brand-primary-color;

    .container-title, .container-more {
      display: inline-block;
      width: 49%;
    }

    .container-title {
      font-size: 16px;
    }

    .container-more {
      text-align: right;
    }

    .btn-more {
      @include reset-anchor-color(#666);

      &:hover {
        color: $brand-primary-color;
      }
    }
  }

  .block-content.style-lighter {
    .content-list {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;

      background-color: white;
    }
  }

  // style-lighter2
  .block-header.style-lighter2 {
    height: 40px;
    line-height: 40px;
    padding-right: 10px;

    background-color: #f7f7f7;
    border-top: 2px solid $brand-primary-color;

    .container-title, .container-more {
      display: inline-block;
    }

    .container-title {
      width: 70%;

      .title {
        padding: 0 10px;
        background-color: $brand-primary-color;
        color: white;

        font-size: 16px;
        vertical-align: top;
        display: inline-block;
      }

      @include icons(banner-right);

      .icons-banner-right {
        display: inline-block;
        vertical-align: top;
      }
    }

    .container-more {
      text-align: right;
      width: 28%;
    }

    .btn-more {
      @include reset-anchor-color(#666);

      &:hover {
        color: $brand-primary-color;
      }
    }    
  }
}

.block {
  & > img {
    width: 100%;
    height: 100%;
  }
}

/**
 *
 * icons
 */
@include icons(boat);
@include icons(no1);
@include icons(hammer);
@include icons(statistics);
@include icons(download);

/**
 *
 * table
 */
.table {

  & > thead > tr > th {
    border: none;
  }

  & > tbody > tr > td {
    border: none;
  }

  &.style-primary {
    thead {
      background-color: $brand-primary-color;
      color: white;

      th {
        text-align: center;
        padding: 10px 0;
      }
    }

    td {
      padding: 10px 5px;
    }
  }

}
/**
 *
 * pagination
 */
.container-pagination {
  text-align: center;

  .pagination {
    text-align: center;

    .pageindex {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;

      &:hover, &.current {
        background-color: $brand-primary-color;
        color: white;
        @include border-radius(5px);
      }
    }

  }  
}