@import "compass/css3";
@import "vars";
@import "utils";
@import "icons";

.tab-account {
  border-bottom: 1px solid #e0e0e0;

  li {
    display: inline-block;

    a {
      padding: 8px 10px;
      color: #333;
      display: inline-block;

      &:hover {
        color: $brand-primary-color;
      }

      &.selected {
        font-size: 16px;
        border-bottom: 2px solid $brand-primary-color;
        color: $brand-primary-color;
      }
    }
  }
}

.container-edit-account-info {
  @include icons(blue-dropdown);

  max-width: 600px;
  width: 100%;
  margin-top: 30px;

  .container-avatar {
    margin-bottom: 30px;
    text-align: center;

    img {
      $radius: 45px;
      width: 2 * $radius;
      height: 2 * $radius;
    }

    .actions {
      margin-top: 15px;
      text-align: center;

      .btn-upload {
        padding: 5px 20px;
        border: 1px solid $brand-primary-color;
        color: $brand-primary-color;
        background-color: white;

        @include border-radius(10px);

        &:hover {
          background-color: $brand-primary-color;
          color: white;
        }
      }
    }
  }

  .col-key, .col-val {
    height: 50px;
    line-height: 50px;
  }

  .col-key {
    padding-right: 10px;
    text-align: right;
  }

  .col-val {
    padding-left: 0px;
  }

  input[type="text"] {
    width: 100%;
    line-height: 35px;
    border: 1px solid #ccc;
    padding: 0px 8px;
  }

  .col-val-sex {
    & > div {
      display: inline-block;
      margin-right: 20px;
    }
  }

  .input-dropdown[type="text"] {
    width: 70%;
  }

  .dropdown {
    display: inline-block;
    width: 30%;
    line-height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    text-align: center;
    cursor: pointer;
    background-color: #e8f4fe;
    position: relative;

    span:first-child {
      margin-right: 10px;
    }

    .container-selection {
      position: absolute;
      top: 37px + 10px;
      left: -20px;
      right: -20px;
      display: none;
      text-align: center;
      overflow-x: auto;
      max-height: 300px;     
      border: 1px solid $brand-primary-color;
      @include border-radius(5px);
      background-color: #f7f7f7;  
      z-index: 100;       

      &.visible {
        display: block;
      }

      .selection {
        padding: 5px;
        border-bottom: 1px dotted #e0e0e0;

        & > .wrapper {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.selected, &:hover {
          color: $brand-primary-color;
          background-color: white;
        }
      }      
    }
  }

  .container-actions {
    margin-top: 40px;

    .container-btn-save {
      padding-left: 0;
    }

    .btn-save {
      padding: 8px 30px;
    }
  }
}

//
//
// The above is copied from profile_edit.scss.
//
//
//
// -------------------------------------------

.container-modify-password {
  max-width: 400px;
  width: 100%;
  margin-top: 30px;  

  .col-key, .col-val {
    height: 50px;
    line-height: 50px;
  }

  .col-key {
    padding-right: 10px;
    text-align: right;
  }

  .col-val {
    padding-left: 0px;
  }

  input[type="text"] {
    width: 100%;
    line-height: 35px;
    border: 1px solid #ccc;
    padding: 0px 8px;
  }  

  .container-actions {
    margin-top: 40px;

    .container-btn-save {
      padding-left: 0;
    }

    .btn-save {
      padding: 8px 30px;
    }
  }  
}