@import "compass/css3";
@import "vars";
@import "utils";
@import "icons";

#page-header {
  .header-main {
    background-color: #f7f7f7;
    padding-left: 40px;
    padding-right: 40px;

    & > .row, .col-left, .col-right {
      height: 80px;
    }

    .col-right {
      & > div {
        display: inline-block;
        height: 100%;
      }
    }

    .container-phone {
      color: #666;
      width: 200px;

      padding-right: 10px;
    }

    .container-search {
      width: 200px;
      margin-right: 10px;
      position: relative;

      $search-box-height: 35px;
      $search-icons-width: icons-sprite-width(search);
      $search-icons-height: icons-sprite-height(search);

      .input-search {
        padding: 5px $search-icons-width + 10px 5px 15px;
        width: 100%;
        height: $search-box-height;
        background-color: #eee;

        @include border-radius(10px);
        border: 1px solid #ccc;
        outline: none;

        box-sizing: border-box;
      }

      @include icons(search);

      .icons-search {
        position: absolute;
        right: 8px;
        top: (80px - $search-icons-height) / 2;
        bottom: (80px - $search-icons-height) / 2;
      }
    }

    .container-actions {
      width: 320px;
      font-size: 16px;

      $btn-border-radius: 15px;

      .btn-buy {
        padding: 5px 20px;
        margin-right: 30px;

        @include border-radius($btn-border-radius);
        border: 1px solid $brand-danger-color;
        background-color: $brand-danger-color;

        @include reset-anchor-color(white);

        &:hover {
          background-color: darken($brand-danger-color, 10%);
        }
      }

      .container-profile, .container-avatar, .container-name {
        display: inline-block;
        vertical-align: middle;
      }

      .container-avatar {
        margin-right: 10px;
        img {
          width: 48px;
          height: 48px;
        }
      }

      .container-name {
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}